/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

/* Stock icons for the menu bar items */
menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

#menu_savePage {
  list-style-image: var(--icon-document-save-as-16);
}

#menu_pageSetup {
  list-style-image: var(--icon-document-page-setup-16);
}

#menu_printPreview {
  list-style-image: var(--icon-document-print-preview-16);
}

#menu_print {
  list-style-image: var(--icon-document-print-16);
}

#menu_close {
  list-style-image: var(--icon-window-close-16);
}

#menu_undo {
  list-style-image: var(--icon-edit-undo-16);
}

#menu_undo[disabled] {
  list-style-image: var(--icon-edit-undo-16-dis);
}

#menu_redo {
  list-style-image: var(--icon-edit-redo-16);
}

#menu_redo[disabled] {
  list-style-image: var(--icon-edit-redo-16-dis);
}

#menu_cut {
  list-style-image: var(--icon-edit-cut-16);
}

#menu_cut[disabled] {
  list-style-image: var(--icon-edit-cut-16-dis);
}

#cMenu_copy,
#menu_copy {
  list-style-image: var(--icon-edit-copy-16);
}

#menu_copy[disabled] {
  list-style-image: var(--icon-edit-copy-16-dis);
}

#menu_paste {
  list-style-image: var(--icon-edit-paste-16);
}

#menu_paste[disabled] {
  list-style-image: var(--icon-edit-paste-16-dis);
}

#menu_delete {
  list-style-image: var(--icon-edit-delete-16);
}

#menu_delete[disabled] {
  list-style-image: var(--icon-edit-delete-16-dis);
}

#cMenu_selectAll,
#menu_selectAll {
  list-style-image: var(--icon-edit-select-all-16);
}

#menu_find {
  list-style-image: var(--icon-edit-find-16);
}

#menu_find[disabled] {
  list-style-image: var(--icon-edit-find-16-dis);
}

#menu_goToLine {
  list-style-image: var(--icon-go-jump-16);
}

#menu_goToLine[disabled] {
  list-style-image: var(--icon-go-jump-16-dis);
}

#menu_reload {
  list-style-image: var(--icon-view-refresh-16);
}

#menu_reload[disabled] {
  list-style-image: var(--icon-view-refresh-16-dis);
}

#menu_textEnlarge {
  list-style-image: var(--icon-zoom-in-16);
}

#menu_textReduce {
  list-style-image: var(--icon-zoom-out-16);
}

#menu_textReset {
  list-style-image: var(--icon-zoom-original-16);
}

#menu_openHelp {
  list-style-image: var(--icon-help-contents-16);
}

#aboutName {
  list-style-image: var(--icon-help-about-16);
}
