/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#HelpToolbar toolbarbutton {
  -moz-box-orient: horizontal !important;
  min-width: 0px;
  margin: 0 !important;
  padding: 4px 5px;
}

#help-back-button {
  list-style-image: var(--icon-go-previous-24);
}

#help-back-button[disabled="true"] {
  list-style-image: var(--icon-go-previous-24-dis);
  opacity: var(--icon-go-previous-dis-opacity);
}

#help-back-button:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-24);
}

#help-back-button[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-24-dis);
  opacity: var(--icon-go-previous-rtl-dis-opacity);
}

#help-forward-button {
  list-style-image: var(--icon-go-next-24);
}

#help-forward-button[disabled="true"] {
  list-style-image: var(--icon-go-next-24-dis);
  opacity: var(--icon-go-next-dis-opacity);
}

#help-forward-button:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-24);
}

#help-forward-button[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-24);
  opacity: var(--icon-go-next-rtl-dis-opacity);
}

#help-home-button {
  list-style-image: var(--icon-go-home-24);
}

#help-home-button[disabled="true"] {
  list-style-image: var(--icon-go-home-24-dis);
  opacity: var(--icon-go-home-dis-opacity);
}

#help-print-button {
  list-style-image: var(--icon-document-print-24);
}

#help-print-button[disabled="true"] {
  list-style-image: var(--icon-document-print-24-dis) !important;
  opacity: var(--icon-document-print-dis-opacity);
}

/* Hide labels for the toolbar because we really don't need them what with the
   tooltips */
#HelpToolbar .toolbarbutton-text {
  display: none;
}

/* With no labels, we don't need the margin on the icon that separates it
   from the label */
#HelpToolbar .toolbarbutton-icon {
  -moz-margin-end: 0;
}

/* Set the minimum sidebar width so the help contents aren't squeezed together.*/
#help-sidebar { min-width: 15em; width: 20em; max-width: 25em; }

#context-copy[disabled="true"] {
  display: none;
}

/**** menuitem stock icons ****/
menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

#context-back {
  list-style-image: var(--icon-go-previous-16);
}

#context-back:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-16);
}

#context-back[disabled="true"] {
  list-style-image: var(--icon-go-previous-16-dis);
  opacity: var(--icon-go-previous-dis-opacity);
}

#context-back[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-16-dis);
  opacity: var(--icon-go-previous-rtl-dis-opacity);
}

#context-forward {
  list-style-image: var(--icon-go-next-16);
}

#context-forward:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-16);
}

#context-forward[disabled="true"] {
  list-style-image: var(--icon-go-next-16-dis);
  opacity: var(--icon-go-next-dis-opacity);
}

#context-forward[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-16-dis);
  opacity: var(--icon-go-next-rtl-dis-opacity);
}

#context-copy {
  list-style-image: var(--icon-edit-copy-16);
}

#context-selectall {
  list-style-image: url("%STOCK-ICON gtk-select-all edit-select-all 16"); /*FIXME: Not stock!*/
}

#zoom-in {
  list-style-image: url("%STOCK-ICON gtk-zoom-in zoom-in 16");
}

#zoom-out {
  list-style-image: url("%STOCK-ICON gtk-zoom-out zoom-out 16");
}

