/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: formatting buttons ::::: */

#FormatToolbar > toolbarbutton > .toolbarbutton-text {
  display: none;
}

#DecreaseFontSizeButton {
  list-style-image: var(--icon-stock_decrease-font-16);
}

#DecreaseFontSizeButton[disabled="true"] {
  list-style-image: var(--icon-stock_decrease-font-16-dis);
}

#IncreaseFontSizeButton {
  list-style-image: var(--icon-stock_increase-font-16);
}

#IncreaseFontSizeButton[disabled="true"] {
  list-style-image: var(--icon-stock_increase-font-16-dis);
}

#boldButton {
  list-style-image: var(--icon-format-text-bold-16);
}

#boldButton[disabled="true"] {
  list-style-image: var(--icon-format-text-bold-16-dis);
}

#italicButton {
  list-style-image: var(--icon-format-text-italic-16);
}

#italicButton[disabled="true"] {
  list-style-image: var(--icon-format-text-italic-16-dis);
}

#underlineButton {
  list-style-image: var(--icon-format-text-underline-16);
}

#underlineButton[disabled="true"] {
  list-style-image: var(--icon-format-text-underline-16-dis);
}

#ulButton {
  list-style-image: var(--icon-stock_list_bullet-16);
}

#ulButton[disabled="true"] {
  list-style-image: var(--icon-stock_list_bullet-16-dis);
}

#olButton {
  list-style-image: var(--icon-stock_list_enum-16);
}

#olButton[disabled="true"] {
  list-style-image: var(--icon-stock_list_enum-16-dis);
}

#outdentButton {
  list-style-image: var(--icon-format-indent-less-16);
}

#outdentButton[disabled="true"] {
  list-style-image: var(--icon-format-indent-less-16-dis);
}

#indentButton {
  list-style-image: var(--icon-format-indent-more-16);
}

#indentButton[disabled="true"] {
  list-style-image: var(--icon-format-indent-more-16-dis);
}

#align-left-button,
#AlignPopupButton {
  list-style-image: var(--icon-format-justify-left-16);
}

#align-left-button[disabled="true"],
#AlignPopupButton[disabled="true"] {
  list-style-image: var(--icon-format-justify-left-16-dis);
}

#align-center-button,
#AlignPopupButton[state="center"] {
  list-style-image: var(--icon-format-justify-center-16);
}

#align-center-button[disabled="true"],
#AlignPopupButton[state="center"][disabled="true"] {
  list-style-image: var(--icon-format-justify-center-16-dis);
}

#align-right-button,
#AlignPopupButton[state="right"] {
  list-style-image: var(--icon-format-justify-right-16);
}

#align-right-button[disabled="true"],
#AlignPopupButton[state="right"][disabled="true"] {
  list-style-image: var(--icon-format-justify-right-16-dis);
}

#align-justify-button,
#AlignPopupButton[state="justify"] {
  list-style-image: var(--icon-format-justify-fill-16);
}

#align-justify-button[disabled="true"],
#AlignPopupButton[state="justify"][disabled="true"] {
  list-style-image: var(--icon-format-justify-fill-16-dis);
}

#InsertPopupButton {
  list-style-image: var(--icon-insert-object-16);
}

#InsertPopupButton[disabled="true"] {
  list-style-image: var(--icon-insert-object-16-dis);
}

#smileButtonMenu {
  list-style-image: url("chrome://global/skin/icons/emotes/face-smile.png");
}

#smileButtonMenu[disabled="true"] {
  opacity: 0.2 !important;
}

/* ::::: menuitem icons ::::: */

/* ..... align menu ..... */

#AlignPopup > menuitem {
  /*list-style-image: url("chrome://editor/skin/icons/btn2.gif");*/
}

#AlignLeftItem {
  list-style-image: var(--icon-format-justify-left-16);
}

#AlignCenterItem {
  list-style-image: var(--icon-format-justify-center-16);
}

#AlignRightItem {
  list-style-image: var(--icon-format-justify-right-16);
}

#AlignJustifyItem {
  list-style-image: var(--icon-format-justify-fill-16);
}

/* ..... insert menu ..... */

#InsertLinkItem {
  list-style-image: var(--icon-insert-link-16);
}

#InsertAnchorItem {
  list-style-image: var(--icon-stock_anchor-16);
}

#InsertImageItem {
  list-style-image: var(--icon-insert-image-16);
}

#InsertHRuleItem {
  list-style-image: var(--icon-stock_insert-rule-16);
}

#InsertTableItem {
  list-style-image: var(--icon-stock_insert-table-16);
}


/* ..... smiley menu ..... */

.insert-smile > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-smile.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-tongue > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-raspberry.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-frown > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-sad.png"); 
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-wink > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-wink.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-laughing > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-laugh.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-embarrassed > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-embarrassed.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-undecided > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-uncertain.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-surprise > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-surprise.png"); 
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-kiss > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-kiss.png"); 
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-yell > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-angry.png"); 
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-cool > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-cool.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-undecided > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-uncertain.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-money > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-money.png"); 
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-foot > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-foot.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-innocent > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-angel.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-cry > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-crying.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-sealed > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-sealed.png");
  -moz-image-region: auto; /* cut off inheritance */
}

/* ::::: fg/bg color picker ::::: */

.ColorPickerLabel {
  border: 1px inset ThreeDFace;
  margin: 0px;
  padding: 2px;
}

.color-button {
  border: 1px inset ThreeDFace;
  padding: 0px;
  width: 14px;
  height: 12px;
  margin: 2px;
}

.color-button:hover {
  border: 1px solid ThreeDDarkShadow;
}

#TextColorButton {
  margin: 2px 9px 9px 2px;
}

#BackgroundColorButton {
  margin: 9px 2px 2px 9px;
}

#HighlightColorButton {
  list-style-image: var(--icon-stock_text_color_hilight-16);
  background-color: transparent;
}

#HighlightColorButton[disabled="true"] {
  list-style-image: var(--icon-stock_text_color_hilight-16-dis);
}

#absolutePositionButton{
  list-style-image: var(--icon-stock_insert-floating-frame-16);
}

#absolutePositionButton[disabled="true"] {
  list-style-image: var(--icon-stock_insert-floating-frame-16-dis);
}

#increaseZIndexButton {
  list-style-image: var(--icon-stock_bring-forward-16);
}

#increaseZIndexButton[disabled="true"] {
  list-style-image: var(--icon-stock_bring-forward-16-dis);
}

#decreaseZIndexButton {
  list-style-image: var(--icon-stock_bring-backward-16);
}

#decreaseZIndexButton[disabled="true"] {
  list-style-image: var(--icon-stock_bring-backward-16-dis);
}
