/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar buttons ::::: */

#namedAnchorButton[disabled="true"],
#hlineButton[disabled="true"],
#tableButton[disabled="true"] {
  opacity: %DISABLED-OPACITY !important;
}

#newButton {
  list-style-image: url("%STOCK-ICON gtk-new document-new 24");
}

#newButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-new document-new 24 disabled");
}

#openButton {
  list-style-image: url("%STOCK-ICON gtk-open document-open 24");
}

#openButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-open document-open 24 disabled");
}

#saveButton {
  list-style-image: url("%STOCK-ICON gtk-save document-save 24");
}

#saveButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-save document-save 24 disabled");
}

#publishButton {
  list-style-image: url("chrome://global/skin/icons/24x24/gtk-network.png");
}

#publishButton[disabled="true"] {
  list-style-image: url("chrome://global/skin/icons/24x24/gtk-network.png");
  opacity: 0.5 !important;
}

#previewButton {
  list-style-image: url("%CUSTOM-ICON web-browser 24");
}

#previewButton[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON web-browser 24 disabled");
  opacity: %DISABLED-OPACITY !important;
}

#printButton {
  list-style-image: url("%STOCK-ICON gtk-print document-print 24");
}

#printButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-print document-print 24 disabled");
}

#linkButton {
  list-style-image: url("%CUSTOM-ICON insert-link 24");
}

#linkButton[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON insert-link 24 disabled");
  opacity: %DISABLED-OPACITY !important;
}

#imageButton {
  list-style-image: url("%CUSTOM-ICON insert-image 24");
}

#imageButton[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON insert-image 24 disabled");
  opacity: %DISABLED-OPACITY !important;
}

#namedAnchorButton {
  list-style-image: url("chrome://global/skin/icons/24x24/stock_anchor.png");
}

#hlineButton {
  list-style-image: url("chrome://global/skin/icons/24x24/stock_form-line-horizontal.png");
}

#tableButton {
  list-style-image: url("chrome://global/skin/icons/24x24/stock_insert-table.png");
}

#spellingButton {
  list-style-image: url("%STOCK-ICON gtk-spell-check tools-check-spelling 24");
}

#spellingButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-spell-check tools-check-spelling 24 disabled");
}

#cutButton {
  list-style-image: url("%STOCK-ICON gtk-cut edit-cut 24");
}

#cutButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-cut edit-cut 24 disabled");
}

#copyButton {
  list-style-image: url("%STOCK-ICON gtk-copy edit-copy 24");
}

#copyButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-copy edit-copy 24 disabled");
}

#pasteButton {
  list-style-image: url("%STOCK-ICON gtk-paste edit-paste 24");
}

#pasteButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-paste edit-paste 24 disabled");
}

#findButton {
  list-style-image: url("%STOCK-ICON gtk-find edit-find 24");
}

#findButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-find edit-find 24 disabled");
}
