/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

#menu_checkspelling {
  list-style-image: var(--icon-tools-check-spelling-16);
}

#menu_checkspelling[disabled="true"] {
  list-style-image: var(--icon-tools-check-spelling-16-dis);
}

#menu_preferences {
  list-style-image: var(--icon-preferences-desktop-16);
}

#menu_preferences[disabled] {
  list-style-image: var(--icon-preferences-desktop-16-dis);
}

#insertImage {
  list-style-image: var(--icon-insert-image-16);
}

#insertImage[disabled] {
  list-style-image: var(--icon-insert-image-16-dis);
}

#insertTable {
  list-style-image: var(--icon-stock_insert-table-16);
}

#insertTable[disabled] {
  list-style-image: var(--icon-stock_insert-table-16-dis);
}

#insertLink {
  list-style-image: var(--icon-insert-link-16);
}

#insertLink[disabled] {
  list-style-image: var(--icon-insert-link-16-dis);
}

#insertAnchor {
  list-style-image: var(--icon-stock_anchor-16);
}

#insertAnchor[disabled] {
  list-style-image: var(--icon-stock_anchor-16-dis);
}

#insertHline {
  list-style-image: var(--icon-stock_insert-rule-16);
}

#insertHline[disabled] {
  list-style-image: var(--icon-stock_insert-rule-16-dis);
}

#insertHTMLSource {
  list-style-image: var(--icon-text-html-16);
}

#insertHTMLSource[disabled] {
  list-style-image: var(--icon-text-html-16-dis);
}

#insertMath {
  list-style-image: var(--icon-stock_insert-math-object-16);
}

#insertMath[disabled] {
  list-style-image: var(--icon-stock_insert-math-object-16-dis);
}

#insertChars {
  list-style-image: var(--icon-stock_insert_special_character-16);
}

#insertChars[disabled] {
  list-style-image: var(--icon-stock_insert_special_character-16-dis);
}
/*
fontFaceMenu
fontSizeMenu
fontStyleMenu
fontColor
removeStylesMenuitem
*/
