/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar buttons ::::: */

#namedAnchorButton[disabled="true"],
#hlineButton[disabled="true"],
#tableButton[disabled="true"] {
  opacity: %DISABLED-OPACITY !important;
}

#newButton {
  list-style-image: var(--icon-document-new-24);
}

#newButton[disabled="true"] {
  list-style-image: var(--icon-document-new-24-dis);
  opacity: var(--icon-document-new-dis-opacity);
}

#openButton {
  list-style-image: var(--icon-document-open-24);
}

#openButton[disabled="true"] {
  list-style-image: var(--icon-document-open-24-dis);
  opacity: var(--icon-document-open-dis-opacity);
}

#saveButton {
  list-style-image: var(--icon-document-save-24);
}

#saveButton[disabled="true"] {
  list-style-image: var(--icon-document-save-24-dis);
  opacity: var(--icon-document-save-dis-opacity);
}

#publishButton {
  list-style-image: var(--icon-network-idle-24);
}

#publishButton[disabled="true"] {
  list-style-image: var(--icon-network-idle-24-dis);
  opacity: var(--icon-network-idle-dis-opacity);
}

#previewButton {
  list-style-image: url("%CUSTOM-ICON web-browser 24");
}

#previewButton[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON web-browser 24 disabled");
  opacity: %DISABLED-OPACITY !important;
}

#linkButton {
  list-style-image: url("%CUSTOM-ICON insert-link 24");
}

#linkButton[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON insert-link 24 disabled");
  opacity: %DISABLED-OPACITY !important;
}

#imageButton {
  list-style-image: url("%CUSTOM-ICON insert-image 24");
}

#imageButton[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON insert-image 24 disabled");
  opacity: %DISABLED-OPACITY !important;
}

#namedAnchorButton {
  list-style-image: url("chrome://global/skin/icons/24x24/stock_anchor.png");
}

#hlineButton {
  list-style-image: url("chrome://global/skin/icons/24x24/stock_form-line-horizontal.png");
}

#tableButton {
  list-style-image: url("chrome://global/skin/icons/24x24/stock_insert-table.png");
}

#spellingButton {
  list-style-image: var(--icon-tools-check-spelling-24);
}

#spellingButton[disabled="true"] {
  list-style-image: var(--icon-tools-check-spelling-24-dis);
  opacity: var(--icon-tools-check-spelling	-dis-opacity);
}

#cutButton {
  list-style-image: var(--icon-edit-cut-24);
}

#cutButton[disabled="true"] {
  list-style-image: var(--icon-edit-cut-24-dis);
  opacity: var(--icon-edit-cut-dis-opacity);
}

#copyButton {
  list-style-image: var(--icon-edit-copy-24);
}

#copyButton[disabled="true"] {
  list-style-image: var(--icon-edit-copy-24-dis);
  opacity: var(--icon-edit-copy-dis-opacity);
}

#pasteButton {
  list-style-image: var(--icon-edit-paste-24);
}

#pasteButton[disabled="true"] {
  list-style-image: var(--icon-edit-paste-24-dis);
  opacity: var(--icon-edit-paste-dis-opacity);
}

#findButton {
  list-style-image: var(--icon-edit-find-24);
}

#findButton[disabled="true"] {
  list-style-image: var(--icon-edit-find-24-dis);
  opacity: var(--icon-edit-find-dis-opacity);
}
