/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: formatting buttons ::::: */

#FormatToolbar > toolbarbutton > .toolbarbutton-text {
  display: none;
}

toolbarbutton.formatting-button {
  min-width: 32px;
}

#DecreaseFontSizeButton {
  list-style-image: url("chrome://global/skin/icons/24x24/format-text-smaller.png");
}

#DecreaseFontSizeButton[disabled="true"] {
  list-style-image: url("chrome://global/skin/icons/24x24/format-text-smaller.png");
  opacity: 0.2 !important;
}

#IncreaseFontSizeButton {
  list-style-image: url("chrome://global/skin/icons/24x24/format-text-larger.png");
}

#IncreaseFontSizeButton[disabled="true"] {
  list-style-image: url("chrome://global/skin/icons/24x24/format-text-larger.png");
  opacity: 0.2 !important;
}

#boldButton {
  list-style-image: url("%STOCK-ICON gtk-bold format-text-bold 24");
}

#boldButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-bold format-text-bold 24 disabled");
}

#italicButton {
  list-style-image: url("%STOCK-ICON gtk-italic format-text-italic 24");
}

#italicButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-italic format-text-italic 24 disabled");
}

#underlineButton {
  list-style-image: url("%STOCK-ICON gtk-underline format-text-underline 24");
}

#underlineButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-underline format-text-underline 24 disabled");
}

#ulButton {
  list-style-image: url("chrome://global/skin/icons/24x24/format_ul.png");
}

#ulButton[disabled="true"] {
  list-style-image: url("chrome://global/skin/icons/24x24/format_ul.png");
  opacity: 0.2 !important;
}

#olButton {
  list-style-image: url("chrome://global/skin/icons/24x24/format_ol.png");
}

#olButton[disabled="true"] {
  opacity: 0.2 !important;
}

#outdentButton {
  list-style-image: url("%STOCK-ICON gtk-unindent format-indent-less 24");
}

#outdentButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-unindent format-indent-less 24 disabled");
}

#indentButton {
  list-style-image: url("%STOCK-ICON gtk-indent format-indent-more 24");
}

#indentButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-indent format-indent-more 24 disabled");
}

#align-left-button {
  list-style-image: url("%STOCK-ICON gtk-justify-left format-justify-left 24");
}

#align-left-button[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-justify-left format-justify-left 24 disabled");
}

#align-center-button {
  list-style-image: url("%STOCK-ICON gtk-justify-center format-justify-center 24");
}

#align-center-button[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-justify-center format-justify-center 24 disabled");
}

#align-right-button {
  list-style-image: url("%STOCK-ICON gtk-justify-right format-justify-right 24");
}

#align-right-button[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-justify-right format-justify-right 24 disabled");
}

#align-justify-button {
  list-style-image: url("%STOCK-ICON gtk-justify-fill format-justify-fill 24");
}

#align-justify-button[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-justify-fill format-justify-fill 24 disabled");
}

#AlignPopupButton {
  list-style-image: url("%STOCK-ICON gtk-justify-center format-justify-center 24");
}

#AlignPopupButton[open="true"] {
  list-style-image: url("%STOCK-ICON gtk-justify-center format-justify-center 24");
}

#AlignPopupButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-justify-center format-justify-center 24 disabled");
}

#InsertPopupButton {
  list-style-image: url("%CUSTOM-ICON insert-object 24");
}

#InsertPopupButton[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON insert-object 24 disabled");
  opacity: %DISABLED-OPACITY !important;
}

#smileButtonMenu {
  list-style-image: url("chrome://global/skin/icons/emotes/face-smile.png");
}

#smileButtonMenu[open="true"] {
  list-style-image: url("chrome://global/skin/icons/emotes/face-smile.png");
}

#smileButtonMenu[disabled="true"] {
  opacity: 0.2 !important;
}

/* ::::: menuitem icons ::::: */

/* ..... align menu ..... */

#AlignPopup > menuitem {
  /*list-style-image: url("chrome://editor/skin/icons/btn2.gif");*/
}

#AlignLeftItem {
  list-style-image: url("%STOCK-ICON gtk-justify-left format-justify-left 16");
}

#AlignCenterItem {
  list-style-image: url("%STOCK-ICON gtk-justify-center format-justify-center 16");
}

#AlignRightItem {
  list-style-image: url("%STOCK-ICON gtk-justify-right format-justify-right 16");
}

#AlignJustifyItem {
  list-style-image: url("%STOCK-ICON gtk-justify-fill format-justify-fill 16");
}

/* ..... insert menu ..... */

#InsertLinkItem {
  list-style-image: url("%CUSTOM-ICON insert-link 16");
}

#InsertAnchorItem {
  list-style-image: url("chrome://global/skin/icons/16x16/stock_anchor.png");
}

#InsertImageItem {
  list-style-image: url("%CUSTOM-ICON insert-image 16");
}

#InsertHRuleItem {
  list-style-image: url("chrome://global/skin/icons/16x16/stock_form-line-horizontal.png");
}

#InsertTableItem {
  list-style-image: url("chrome://global/skin/icons/16x16/stock_insert-table.png");
}


/* ..... smiley menu ..... */

.insert-smile > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-smile.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-tongue > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-raspberry.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-frown > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-sad.png"); 
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-wink > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-wink.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-laughing > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-laugh.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-embarrassed > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-embarrassed.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-undecided > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-uncertain.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-surprise > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-surprise.png"); 
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-kiss > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-kiss.png"); 
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-yell > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-angry.png"); 
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-cool > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-cool.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-undecided > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-uncertain.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-money > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-money.png"); 
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-foot > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-foot.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-innocent > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-angel.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-cry > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-crying.png");
  -moz-image-region: auto; /* cut off inheritance */
}

.insert-sealed > .menu-iconic-left {
  list-style-image: url("chrome://global/skin/icons/emotes/face-sealed.png");
  -moz-image-region: auto; /* cut off inheritance */
}

/* ::::: fg/bg color picker ::::: */

.ColorPickerLabel {
  border: 1px inset ThreeDFace;
  margin: 0px;
  padding: 2px;
}

.color-button {
  border: 1px inset ThreeDFace;
  padding: 0px;
  width: 14px;
  height: 12px;
  margin: 2px;
}

.color-button:hover {
  border: 1px solid ThreeDDarkShadow;
}

#TextColorButton {
  margin: 2px 9px 9px 2px;
}

#BackgroundColorButton {
  margin: 9px 2px 2px 9px;
}

#HighlightColorButton {
  list-style-image: url("chrome://global/skin/icons/24x24/format-text-mark.png");
  background-color: transparent;
}

#HighlightColorButton[disabled="true"] {
  list-style-image: url("chrome://global/skin/icons/24x24/format-text-mark.png");
}

#absolutePositionButton{
  list-style-image: url("%STOCK-ICON gtk-fullscreen view-fullscreen 24"); /*FIXME: Not stock!*/
}

#absolutePositionButton[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-fullscreen view-fullscreen 24 disabled"); /*FIXME: Not stock!*/
}

#absolutePositionButton[checked="true"]{
  list-style-image: url("%STOCK-ICON gtk-leave-fullscreen view-restore 24"); /*FIXME: Not stock!*/
}

#increaseZIndexButton {
  list-style-image: url("chrome://global/skin/icons/24x24/stock_bring-forward.png");
}
#increaseZIndexButton[disabled="true"] {
  list-style-image: url("chrome://global/skin/icons/24x24/stock_bring-forward.png");
  opacity: 0.2 !important;
}
#decreaseZIndexButton {
  list-style-image: url("chrome://global/skin/icons/24x24/stock_bring-backward.png");
}
#decreaseZIndexButton[disabled="true"] {
  list-style-image: url("chrome://global/skin/icons/24x24/stock_bring-backward.png");
  opacity: 0.2 !important;
}
