/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

/* Info box */
#detailsDeck {
  margin: 5px;
}

#infoBoxExpanderLabel {
  -moz-padding-start: 2px;
}

#organizerScopeBar {
  padding: 2px 0;
  -moz-padding-end: 3px;
}

#placesMenu {
  -moz-appearance: none !important;
}
/*
#placesMenu > menu {
   -moz-appearance: toolbarbutton !important;
   color: ButtonText !important;
}
*/
#back-button, #forward-button {
    visibility: collapse !important;
}

/* menus */

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

#newbookmark {
  list-style-image: var(--icon-bookmark-new-16);
}

#newbookmark[disabled] {
  list-style-image: var(--icon-bookmark-new-16-dis);
}

#newfolder {
  list-style-image: var(--icon-folder`-new-16);
}

#newfolder[disabled] {
  list-style-image: var(--icon-folder-new-16-dis);
}

#orgClose {
  list-style-image: var(--icon-window-close-16);
}

#orgClose[disabled] {
  list-style-image: var(--icon-window-close-16-dis);
}

#fileImport {
  list-style-image: var(--icon-document-revert-16);
}

#fileImport[disabled] {
  list-style-image: var(--icon-document-revert-16-dis);
}

#fileExport {
  list-style-image: var(--icon-document-save-as-16);
}

#fileExport[disabled] {
  list-style-image: var(--icon-document-save-as-16-dis);
}

