/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

.titled-splitter {
  border-top: 1px outset InactiveCaption;
  border-bottom: 1px outset InactiveCaption;
  background-color: InactiveCaption;
  color: InactiveCaptionText;
  cursor: default;
}

box[orient="vertical"] > .titled-splitter {
  cursor: default;
}

.titledsplitter-container {
  padding-bottom: 2px;
}

.titledsplitter-dragbar {
  min-height: 2px;
  cursor: n-resize !important;
}

.titledsplitter-titlebox {
  padding: 0px 5px 0px 5px;
}

.titledsplitter-text {
  margin: 0px !important;
  font-weight: bold;
}

.titledsplitter-closebutton {
  -moz-binding: none;
  -moz-appearance: toolbarbutton;
  min-width: 0px;
  margin: -2px !important;
}

.titledsplitter-closeimage {
  list-style-image: var(--icon-window-close-16);
  margin: -4px !important;
}
