@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

toolbargrippy {
/*     border-left: 1px solid ThreeDHighlight;*/
    border-top: 1px solid ThreeDHighlight;
    border-bottom: 1px solid ThreeDShadow;
    border-right: 1px solid ThreeDShadow;
/*     border-right: 2px solid;
    -moz-border-right-colors: ThreeDHighlight ThreeDShadow;
    width: 11px;*/
    list-style-image: url("chrome://gnomerunner-options/content/tweaks/tbgrip-arrow.png");
}

.toolbargrippy-texture {
    background: url("chrome://gnomerunner-options/content/tweaks/tbgrip-texture.png");
}

toolbargrippy[tbgrippy-collapsed="true"] {
    list-style-image: url("chrome://gnomerunner-options/content/tweaks/tbgrip-arrow-clps.png");
}
