/* -*- Mode: Text; tab-width: 8; indent-tabs-mode: nil; c-basic-offset: 4 -*-
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* smiley faces */
.chatzilla-emote-txt {              /* emoticon text inside                    */
    display: none;
}

.chatzilla-emote:after {            /* empty span to attach :after images to   */
    margin-left: 3px;
    margin-right: 3px;
    content: url(chrome://chatzilla/skin/images/face-question.png);
}

.chatzilla-emote[type="face-alien"]:after {
    content: url(chrome://chatzilla/skin/images/face-alien.png);
}

.chatzilla-emote[type="face-angry"]:after {
    content: url(chrome://global/skin/icons/emotes/face-angry.png);
}

.chatzilla-emote[type="face-cry"]:after {
    content: url(chrome://global/skin/icons/emotes/face-crying.png);
}

.chatzilla-emote[type="face-confused"]:after {
    content: url(chrome://chatzilla/skin/images/face-confused.png);
}

.chatzilla-emote[type="face-cool"]:after {
    content: url(chrome://global/skin/icons/emotes/face-cool.png);
}

.chatzilla-emote[type="face-dizzy"]:after {
    content: url(chrome://chatzilla/skin/images/face-dizzy.png);
}

.chatzilla-emote[type="face-dizzy-back"]:after {
    content: url(chrome://chatzilla/skin/images/face-dizzy-back.png);
}

.chatzilla-emote[type="face-eek"]:after {
    content: url(chrome://chatzilla/skin/images/face-eek.png);
}

.chatzilla-emote[type="face-evil"]:after {
    content: url(chrome://chatzilla/skin/images/face-evil.png);
}

.chatzilla-emote[type="face-laugh"]:after {
    content: url(chrome://global/skin/icons/emotes/face-laugh.png);
}

.chatzilla-emote[type="face-lol"]:after {
    content: url(chrome://global/skin/icons/emotes/face-laugh.png);
}

.chatzilla-emote[type="face-normal"]:after {
    content: url(chrome://chatzilla/skin/images/face-normal.png);
}

.chatzilla-emote[type="face-question"]:after {
    content: url(chrome://chatzilla/skin/images/face-question.png);
}

.chatzilla-emote[type="face-red"]:after {
    content: url(chrome://chatzilla/skin/images/face-red.png);
}

.chatzilla-emote[type="face-rofl"]:after {
    content: url(chrome://chatzilla/skin/images/face-rofl.png);
}

.chatzilla-emote[type="face-rolleyes"]:after {
    content: url(chrome://chatzilla/skin/images/face-rolleyes.png);
}

.chatzilla-emote[type="face-sad"]:after {
    content: url(chrome://global/skin/icons/emotes/face-sad.png);
}

.chatzilla-emote[type="face-smile"]:after {
    content: url(chrome://global/skin/icons/emotes/face-smile.png);
}

.chatzilla-emote[type="face-surprised"]:after {
    content: url(chrome://chatzilla/skin/images/face-surprised.png);
}

.chatzilla-emote[type="face-tongue"]:after {
    content: url(chrome://global/skin/icons/emotes/face-raspberry.png);
}

.chatzilla-emote[type="face-wink"]:after {
    content: url(chrome://global/skin/icons/emotes/face-wink.png);
}