/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#wrapper-throbber-box > #throbber-box > #navigator-throbber,
#navigator-throbber {
  -moz-binding: url("chrome://global/content/bindings/button.xml#button-image");
  -moz-user-focus: ignore;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 1px 5px 1px 10px !important;
  border: none !important;
  padding: 1px !important;
  min-width: 0 !important;
  list-style-image: url("chrome://global/skin/icons/throbber/gnome/Throbber.png");
  background-color: transparent !important;
  -moz-appearance:none !important;
}

#navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/throbber/gnome/Throbber.gif");
}

window[chromehidden~="toolbar"] #navigator-throbber,
toolbar[mode="text"] #wrapper-throbber-box > #throbber-box > #navigator-throbber,
toolbar[iconsize="small"] #wrapper-throbber-box > #throbber-box > #navigator-throbber,
toolbar[mode="text"] #navigator-throbber,
toolbar[iconsize="small"] #navigator-throbber {
  margin: 0 5px !important;
  list-style-image: url("chrome://global/skin/icons/throbber/gnome/Throbber.png");
}

window[chromehidden~="toolbar"] #navigator-throbber[busy="true"],
toolbar[mode="text"] #navigator-throbber[busy="true"],
toolbar[iconsize="small"] #navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/throbber/gnome/Throbber.gif");
}
