/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ==== helpOverlay.css =====================================================
   == overlay for toolkit help viewer to fit within SeaMonkey.
   ========================================================================== */

@import url("chrome://communicator/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#help-sidebar {
  min-width: 30px;
}

/* ::::: toolbar icons ::::: */

#help-back-button toolbarbutton,
#help-forward-button toolbarbutton {
  list-style-image: inherit;
  -moz-image-region: inherit;
}

#help-back-button {
  list-style-image: url("%STOCK-ICON gtk-go-back-ltr go-previous 24");
}

#help-back-button[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-go-back-ltr go-previous 24 disabled");
}

#help-back-button[chromedir="rtl"] {
  list-style-image: url("%STOCK-ICON gtk-go-back-rtl go-next 24");
}

#help-back-button[chromedir="rtl"][disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-go-back-rtl go-next 24 disabled");
}

#help-forward-button {
  list-style-image: url("%STOCK-ICON gtk-go-forward-ltr go-next 24");
}

#help-forward-button[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-go-forward-ltr go-next 24 disabled");
}

#help-forward-button[chromedir="rtl"] {
  list-style-image: url("%STOCK-ICON gtk-go-forward-rtl go-previous 24");
}

#help-forward-button[disabled="true"][chromedir="rtl"] {
  list-style-image: url("%STOCK-ICON gtk-go-forward-rtl go-previous 24 disabled");
}

#help-home-button {
  list-style-image: url("%STOCK-ICON gtk-home go-home 24");
}

#help-home-button[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-home go-home 24 disabled");
}

#help-print-button {
  list-style-image: url("%STOCK-ICON gtk-print document-print 24");
}

#help-print-button[disabled="true"] {
  list-style-image: url("%STOCK-ICON gtk-print document-print 24 disabled");
}

/* make findbar appear above content */
#appcontent {
  -moz-box-direction: reverse;
}

/* style findbar for being on top */
#FindToolbar {
  -moz-appearance: toolbar !important;
  padding-top: 0px;
  padding-bottom: 0px;
}
