/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ==== helpOverlay.css =====================================================
   == overlay for toolkit help viewer to fit within SeaMonkey.
   ========================================================================== */

@import url("chrome://communicator/skin/");
@import url("chrome://icons/skin/icon-theme-default.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#help-sidebar {
  min-width: 30px;
}

/* ::::: toolbar icons ::::: */

#help-back-button toolbarbutton,
#help-forward-button toolbarbutton {
  list-style-image: inherit;
  -moz-image-region: inherit;
}

#help-back-button {
  list-style-image: var(--icon-go-previous-24);
}

#help-back-button[disabled="true"] {
  list-style-image: var(--icon-go-previous-24-dis);
  opacity: var(--icon-go-previous-dis-opacity);
}

#help-back-button:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-24);
}

#help-back-button:-moz-locale-dir(rtl)[disabled="true"] {
  list-style-image: var(--icon-go-previous-rtl-24-dis);
  opacity: var(--icon-go-previous-rtl-dis-opacity);
}

#help-forward-button {
  list-style-image: var(--icon-go-next-24);
}

#help-forward-button[disabled="true"] {
  list-style-image: var(--icon-go-next-24-dis);
  opacity: var(--icon-go-next-dis-opacity);
}

#help-forward-button:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-24);
}

#help-forward-button:-moz-locale-dir(rtl)[disabled="true"] {
  list-style-image: var(--icon-go-next-rtl-24);
  opacity: var(--icon-go-next-rtl-dis-opacity);
}

#help-home-button {
  list-style-image: var(--icon-go-home-24);
}

#help-home-button[disabled="true"] {
  list-style-image: var(--icon-go-home-24-dis);
  opacity: var(--icon-go-home-dis-opacity);
}

#help-print-button {
  list-style-image: var(--icon-document-print-24);
}

#help-print-button[disabled="true"] {
  list-style-image: var(--icon-document-print-24-dis) !important;
  opacity: var(--icon-document-print-dis-opacity);
}

/* make findbar appear above content */
#appcontent {
  -moz-box-direction: reverse;
}

/* style findbar for being on top */
#FindToolbar {
  -moz-appearance: toolbar !important;
  padding-top: 0px;
  padding-bottom: 0px;
}
