/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ==== tasksOverlay.css ================================================
   == Styles used by the the overlay which contains tasks related
   == content, such as the taskbar and product launcher icons.
   ====================================================================== */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: communicator product icons ::::: */

#mini-nav,
.icon-navigator16 {
  list-style-image: url("%CUSTOM-ICON emblem-web 16");
}

#mini-mail,
.icon-mail16 {
  list-style-image: url("%CUSTOM-ICON emblem-mail 16");
}

#mini-mail[BiffState="NewMail"] {
  list-style-image: url("%CUSTOM-ICON mail-mark-unread 16");
}

#mini-addr,
.icon-addressbook16 {
  list-style-image: url("%CUSTOM-ICON x-office-address-book 16");
}

#mini-comp,
.icon-composer16 {
  list-style-image: url("%CUSTOM-ICON accessories-text-editor 16");
}

#mini-irc,
.icon-irc16 {
  list-style-image: url("chrome://global/skin/icons/16x16/irc.png") !important;
}

/* ::::: component bar ::::: */

#component-bar {
  -moz-box-align: stretch;
  padding: 0 !important;
  margin: 0 !important;
}
