/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ==== tasksOverlay.css ================================================
   == Styles used by the the overlay which contains tasks related
   == content, such as the taskbar and product launcher icons.
   ====================================================================== */

@import url("chrome://icons/skin/icon-theme-default.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: communicator product icons ::::: */

#mini-nav,
.icon-navigator16 {
  list-style-image: var(--icon-internet-web-browser-16);
}

#mini-mail,
.icon-mail16 {
  list-style-image: var(--icon-internet-mail-16);
}

#mini-mail[BiffState="NewMail"] {
  list-style-image: var(--icon-mail-unread-16);
}

#mini-addr,
.icon-addressbook16 {
  list-style-image: var(--icon-x-office-address-book-16);
}

#mini-comp,
.icon-composer16 {
  list-style-image: var(--icon-accessories-text-editor-16);
}

/* ::::: component bar ::::: */

#component-bar {
  -moz-box-align: stretch;
  padding: 0 !important;
  margin: 0 !important;
}

/* ::::: menus ::::: */

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

#addonsmgr {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric-16.png");
}

#sync-setup {
  list-style-image: url("chrome://communicator/skin/sync/sync-16.png");
}

#sync-syncnowitem {
  list-style-image: url("chrome://communicator/skin/sync/sync-16.png");
}

#cmd_switchprofile {
  list-style-image: var(--icon-stock_person-16);
}

#cmd_switchprofile[disabled="true"] {
  list-style-image: var(--icon-stock_person-16-dis);
}

