/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

#menu_zoomReduce {
  list-style-image: var(--icon-zoom-out-16);
}

#menu_zoomReduce[disabled] {
  list-style-image: var(--icon-zoom-out-16-dis);
  opacity: var(--icon-zoom-out-dis-opacity);
}

#menu_zoomEnlarge {
  list-style-image: var(--icon-zoom-in-16);
}

#menu_zoomEnlarge[disabled] {
  list-style-image: var(--icon-zoom-in-16-dis);
  opacity: var(--icon-zoom-in-dis-opacity);
}
