@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#button-getmsg,
#button-newmsg,
#button-reply,
#button-replyall,
#button-forward,
#button-mark,
#button-junk,
#button-newlist,
#button-attach,
#button-newmessage,
#button-address,
#button-editcard,
#button-newcard,
#button-send,
#imageButton,
#InsertPopupButton,
#previewButton {
    opacity: 1 !important;
}

#mini-comp,
.icon-composer16 {
    list-style-image: url("moz-icon://stock/accessories-text-editor?size=menu") !important;
}

%NATIVE-ICON bookmark-new #menu_bookmarkThisPage
%NATIVE-ICON bookmark-new #menu_bookmarkThisPageAs
%NATIVE-ICON bookmark-new #newbookmark

#security-button,
#security-button > image {
    list-style-image: url("moz-icon://stock/changes-allow?size=menu") !important;
}

#security-button[level="high"],
#security-button[level="low"],
#security-button[level="high"] > image,
#security-button[level="low"] > image {
    list-style-image: url("moz-icon://stock/changes-prevent?size=menu") !important;
}

.readColumnHeader,
treechildren::-moz-tree-image(unreadButtonColHeader, unread) {
    list-style-image: url("moz-icon://stock/emblem-generic?size=menu") !important;
}

#mini-mail,
.icon-mail16 {
    list-style-image: url("moz-icon://stock/emblem-mail?size=menu") !important;
}

.icon-holder[type="folder"][ImapShared="true"],
treechildren::-moz-tree-image(folderNameCol, imapShared-true) {
    list-style-image: url("moz-icon://stock/emblem-shared?size=menu") !important;
}

#mini-nav,
.icon-navigator16 {
    list-style-image: url("moz-icon://stock/emblem-web?size=menu") !important;
}

.bookmark-item[container][query],
treechildren::-moz-tree-image(title, query) {
    list-style-image: url("moz-icon://stock/folder-saved-search?size=menu") !important;
}

toolbar[iconsize="small"] > toolbarpaletteitem > #back-button,
toolbar[iconsize="small"] > #back-button,
#link-prev,
toolbar[iconsize="small"] > #button-goback,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-goback,
#context-back,
.previous-arrow,
#add-button,
button[icon="go-forward"]:-moz-locale-dir(rtl) .button-icon,
.next-arrow:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/go-previous?size=menu") !important;
}

toolbar[iconsize="small"] > #back-button[disabled="true"],
#link-prev[disabled="true"],
toolbar[iconsize="small"] > #button-goback[disabled="true"],
#context-back[disabled="true"],
button[icon="go-forward"]:-moz-locale-dir(rtl)[disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/go-previous?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #back-button[chromedir="rtl"],
#link-prev[chromedir="rtl"],
toolbar[iconsize="small"] > #button-goback[chromedir="rtl"],
toolbar[iconsize="small"] > toolbarpaletteitem > #button-goback[chromedir="rtl"],
#context-back[chromedir="rtl"],
.previous-arrow:-moz-locale-dir(rtl),
#remove-button,
button[icon="go-forward"] .button-icon,
.next-arrow {
  list-style-image: url("moz-icon://stock/go-next?size=menu") !important;
}

toolbar[iconsize="small"] > #back-button[disabled="true"][chromedir="rtl"],
#link-prev[disabled="true"][chromedir="rtl"],
toolbar[iconsize="small"] > #button-goback[disabled="true"][chromedir="rtl"],
#context-back[disabled="true"][chromedir="rtl"],
button[icon="go-forward"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/go-next?size=menu&state=disabled") !important;
}

%NATIVE-ICON go-previous #historyMenuBack
%NATIVE-ICON go-next #historyMenuForward:-moz-dir(rtl)









%NATIVE-ICON insert-image #insertImage

#InsertImageItem {
    list-style-image: url("moz-icon://stock/insert-image?size=menu") !important;
}

#InsertLinkItem {
    list-style-image: url("moz-icon://stock/insert-link?size=menu") !important;
}

/* FIXME: irc */

.messageImage[value="popup-blocked"],
#popupIcon {
    list-style-image: url("moz-icon://stock/lpi-bug?size=menu") !important;
}

toolbar[iconsize="small"] > #button-attach,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-attach,
tree[noattachcol="true"] > treechildren::-moz-tree-image(subjectCol, attach, forwarded),
tree[noattachcol="true"] > treechildren::-moz-tree-image(subjectCol, attach, replied),
tree[noattachcol="true"] > treechildren::-moz-tree-image(subjectCol, attach, forwarded, replied) {
    list-style-image: url("moz-icon://stock/mail-attachment?size=menu") !important;
}

toolbar[iconsize="small"] > #button-attach[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-attachment?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #button-forward,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-forward,
treechildren::-moz-tree-image(subjectCol, forwarded) {
    list-style-image: url("moz-icon://stock/mail-forward?size=menu") !important;
}

toolbar[iconsize="small"] > #button-forward[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-forward?size=menu&state=disabled") !important;
}

.folderMenuItem[SpecialFolder="Inbox"],
.folderMenuItem[SpecialFolder="Inbox"][open="true"],
.icon-holder[type="folder"][SpecialFolder="Inbox"],
.icon-holder[type="folder"][SpecialFolder="Inbox"][NewMessages="true"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox),
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox, newMessages-true) {
    list-style-image: url("moz-icon://stock/mail-inbox?size=menu") !important;
}

.junkStatusHeader,
treechildren::-moz-tree-image(junkStatusCol, junk),
toolbar[iconsize="small"] > #button-junk,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-junk {
    list-style-image: url("moz-icon://stock/mail-mark-junk?size=menu") !important;
}

toolbar[iconsize="small"] > #button-junk[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-mark-junk?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #button-mark,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-mark {
    list-style-image: url("moz-icon://stock/mail-mark-read?size=menu") !important;
}

toolbar[iconsize="small"] > #button-mark[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-mark-read?size=menu&state=disabled") !important;
}

#mini-mail[BiffState="NewMail"],
.icon-holder[type="message"][Attachment="true"],
tree[noattachcol="true"] > treechildren::-moz-tree-image(subjectCol, attach),
treechildren::-moz-tree-image(subjectCol, new, offline),
treechildren::-moz-tree-image(subjectCol, new) {
    list-style-image: url("moz-icon://stock/mail-mark-unread?size=menu") !important;
}

toolbar[iconsize="small"] > #button-newmessage,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newmessage,
toolbar[iconsize="small"] > #button-newmsg,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newmsg {
    list-style-image: url("moz-icon://stock/mail-message-new?size=menu") !important;
}

toolbar[iconsize="small"] > #button-newmessage[disabled],
toolbar[iconsize="small"] > #button-newmsg[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-message-new?size=menu&state=disabled") !important;
}

%NATIVE-ICON mail-message-new #menu_newMessage

.folderMenuItem[SpecialFolder="Outbox"],
.folderMenuItem[SpecialFolder="Outbox"][open="true"],
.icon-holder[type="folder"][SpecialFolder="Outbox"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) {
    list-style-image: url("moz-icon://stock/mail-outbox?size=menu") !important;
}

treechildren::-moz-tree-image(unreadButtonColHeader),
.icon-holder[type="message"],
treechildren::-moz-tree-image(subjectCol),
treechildren::-moz-tree-image(subjectCol),
treechildren::-moz-tree-image(subjectCol, replied),
treechildren::-moz-tree-image(subjectCol, forwarded, replied),
.icon-holder[type="message"][Attachment="true"],
tree[noattachcol="true"] > treechildren::-moz-tree-image(subjectCol, attach),
.icon-holder[type="message"][Offline="true"],
treechildren::-moz-tree-image(subjectCol, offline),
tree[noattachcol="true"] > treechildren::-moz-tree-image(subjectCol, attach, offline),
tree[noattachcol="true"] > treechildren::-moz-tree-image(subjectCol, attach, forwarded, offline),
tree[noattachcol="true"] > treechildren::-moz-tree-image(subjectCol, attach, offline, replied),
tree[noattachcol="true"] > treechildren::-moz-tree-image(subjectCol, attach, forwarded, offline, replied) {
    list-style-image: url("moz-icon://stock/mail-read?size=menu") !important;
}

toolbar[iconsize="small"] > #button-getmsg,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-getmsg {
    list-style-image: url("moz-icon://stock/mail-send-receive?size=menu") !important;
}

toolbar[iconsize="small"] > #button-getmsg[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-send-receive?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #button-replyall,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-replyall {
    list-style-image: url("moz-icon://stock/mail-reply-all?size=menu") !important; 
}

toolbar[iconsize="small"] > #button-replyall[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-reply-all?size=menu&state=disabled") !important;
}

#button-input,
toolbar[iconsize="small"] > #button-reply,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-reply {
    list-style-image: url("moz-icon://stock/mail-reply-sender?size=menu") !important;
}

toolbar[iconsize="small"] > #button-reply[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-reply-sender?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #button-send,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-send,
.folderMenuItem[SpecialFolder="Sent"],
.folderMenuItem[SpecialFolder="Sent"][open="true"],
.icon-holder[type="folder"][SpecialFolder="Sent"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
    list-style-image: url("moz-icon://stock/mail-send?size=menu") !important;
}

toolbar[iconsize="small"] > #button-send[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-send?size=menu&state=disabled") !important;
}

.flagColumnHeader,
treechildren::-moz-tree-image(flaggedCol, flagged) {
    list-style-image: url("moz-icon://stock/preferences-desktop-locale?size=menu") !important;
}

/* FIXME: security-broken */

/* FIXME: stock_anchor */

/* FIXME: stock_form-line-horizontal */

/* FIXME: stock_insert-table */

.person-icon,
#profiles > treechildren::-moz-tree-image,
toolbar[iconsize="small"] > #button-newcard,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newcard {
    list-style-image: url("moz-icon://stock/stock_person?size=menu") !important;
}

toolbar[iconsize="small"] > #button-newcard[disabled] {
    list-style-image: url("moz-icon://stock/stock_person?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #button-newlist,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newlist {
    list-style-image: url("moz-icon://stock/system-users?size=menu") !important;
}

toolbar[iconsize="small"] > #button-newlist[disabled] {
    list-style-image: url("moz-icon://stock/system-users?size=menu&state=disabled") !important;
}

treechildren::-moz-tree-image(DirCol, IsRemote-true, IsSecure-true) {
    list-style-image: url("moz-icon://stock/system-lock-screen?size=menu") !important;
}

.tabs-newbutton {
    list-style-image: url("moz-icon://stock/tab-new?size=menu") !important;
}

%NATIVE-ICON tab-new #menu_newNavigatorTab

toolbar[iconsize="small"] > #button-editcard,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-editcard {
    list-style-image: url("moz-icon://stock/user-info?size=menu") !important;
}

toolbar[iconsize="small"] > #button-editcard[disabled] {
    list-style-image: url("moz-icon://stock/user-info?size=menu&state=disabled") !important;
}

treeitem[container="true"][id="NC:SiteMapRoot"] > treerow > .treecell-indent,
treeitem[container="true"][open="true"][id="NC:SiteMapRoot"] > treerow > .treecell-indent {
    list-style-image: url("moz-icon://stock/web-browser?size=menu") !important;
}

%NATIVE-ICON window-new #menu_newNavigator

#mini-addr,
.icon-addressbook16,
toolbar[iconsize="small"] > #button-address,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-address {
    list-style-image: url("moz-icon://stock/x-office-address-book?size=menu") !important;
}

toolbar[iconsize="small"] > #button-address[disabled="true"] {
    list-style-image: url("moz-icon://stock/x-office-address-book?size=menu&state=disabled") !important;
}

.new-dir-button {
    list-style-image: url("moz-icon://stock/folder-new?size=toolbar") !important;
}

/* FIXME: format-ol */

/* FIXME: format-text-larger */

/* FIXME: format-text-mark */

/* FIXME: format-text-smaller */

/* FIXME: format-ul */

#back-button,
#button-goback,
#help-back-button {
  list-style-image: url("moz-icon://stock/go-previous?size=toolbar") !important;
}

#back-button[disabled="true"],
#button-goback[disabled="true"],
#help-back-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/go-previous?size=toolbar&state=disabled") !important;
}

#back-button[chromedir="rtl"],
#button-goback[chromedir="rtl"],
#help-back-button[chromedir="rtl"] {
  list-style-image: url("moz-icon://stock/go-next?size=toolbar") !important;
}

#back-button[disabled="true"][chromedir="rtl"],
#button-goback[disabled="true"][chromedir="rtl"],
#help-back-button[disabled="true"][chromedir="rtl"] {
  list-style-image: url("moz-icon://stock/gtk-next?size=toolbar&state=disabled") !important;
}

#imageButton {
    list-style-image: url("moz-icon://stock/insert-image?size=toolbar") !important;
}

#imageButton[disabled="true"] {
    list-style-image: url("moz-icon://stock/insert-image?size=toolbar&state=disabled") !important;
}

#linkButton {
    list-style-image: url("moz-icon://stock/insert-link?size=toolbar") !important;
}

#linkButton[disabled="true"] {
    list-style-image: url("moz-icon://stock/insert-link?size=toolbar&state=disabled") !important;
}

#InsertPopupButton {
    list-style-image: url("moz-icon://stock/insert-object?size=toolbar") !important;
}

#InsertPopupButton[disabled="true"] {
    list-style-image: url("moz-icon://stock/insert-object?size=toolbar&state=disabled") !important;
}

/* FIXME: irc */

#expandedAttachmentBox,
.collapsedAttachmentButton,
#button-attach {
    list-style-image: url("moz-icon://stock/mail-attachment?size=toolbar") !important;
}

#button-attach[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-attachment?size=toolbar&state=disabled") !important;
}

#button-forward {
    list-style-image: url("moz-icon://stock/mail-forward?size=toolbar") !important;
}

#button-forward[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-forward?size=toolbar&state=disabled") !important;
}

#button-junk {
    list-style-image: url("moz-icon://stock/mail-mark-junk?size=toolbar") !important;
}

#button-junk[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-mark-junk?size=toolbar&state=disabled") !important;
}

#button-mark {
    list-style-image: url("moz-icon://stock/mail-mark-read?size=toolbar") !important;
}

#button-mark[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-mark-read?size=toolbar&state=disabled") !important;
}

#button-newmessage,
#button-newmsg {
    list-style-image: url("moz-icon://stock/mail-message-new?size=toolbar") !important;
}

#button-newmessage[disabled],
#button-newmsg[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-message-new?size=toolbar&state=disabled") !important;
}

#button-getmsg {
    list-style-image: url("moz-icon://stock/mail-send-receive?size=toolbar") !important;
}

#button-getmsg[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-send-receive?size=toolbar&state=disabled") !important;
}

#button-replyall {
    list-style-image: url("moz-icon://stock/mail-reply-all?size=toolbar") !important;
}

#button-replyall[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-reply-all?size=toolbar&state=disabled") !important;
}

#button-reply {
    list-style-image: url("moz-icon://stock/mail-reply-sender?size=toolbar") !important;
}

#button-reply[disabled="true"] {
    list-style-image: url("moz-icon://stock/mail-reply-sender?size=toolbar&state=disabled") !important;
}

#button-send {
    list-style-image: url("moz-icon://stock/mail-send?size=toolbar") !important;
}

#button-send[disabled="true"]{
    list-style-image: url("moz-icon://stock/mail-send?size=toolbar&state=disabled") !important;
}

/* FIXME: stock_anchor */

/* FIXME: stock_bring-backward */

/* FIXME: stock_bring-forward */

/* FIXME: stock_form-line-horizontal */

/* FIXME: stock_insert-table */

#button-newcard {
    list-style-image: url("moz-icon://stock/stock_person?size=toolbar") !important;
}

#button-newcard[disabled] {
    list-style-image: url("moz-icon://stock/stock_person?size=toolbar&state=disabled") !important;
}

#button-newlist {
    list-style-image: url("moz-icon://stock/system-users?size=toolbar") !important;
}

#button-newlist[disabled] {
    list-style-image: url("moz-icon://stock/system-users?size=toolbar&state=disabled") !important;
}

#button-editcard {
    list-style-image: url("moz-icon://stock/user-info?size=toolbar") !important;
}

#button-editcard[disabled] {
    list-style-image: url("moz-icon://stock/user-info?size=toolbar&state=disabled") !important;
}

#Console\:modeAll {
    list-style-image: url("moz-icon://stock/utilities-terminal?size=toolbar") !important;
}

#previewButton {
    list-style-image: url("moz-icon://stock/web-browser?size=toolbar") !important;
}


#previewButton[disabled="true"] {
    list-style-image: url("moz-icon://stock/web-browser?size=toolbar&state=disabled") !important;
}

#button-address {
    list-style-image: url("moz-icon://stock/x-office-address-book?size=toolbar") !important;
}

#button-address[disabled="true"] {
    list-style-image: url("moz-icon://stock/x-office-address-book?size=toolbar&state=disabled") !important;
}

button[icon="go-back"] .button-icon {
    list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=button") !important;
}

button[icon="go-back"][disabled="true"] .button-icon {
    list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=button&state=disabled") !important;
}

button[icon="go-back"]:-moz-locale-dir(rtl) .button-icon {
    list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=button") !important;
}

button[icon="go-back"]:-moz-locale-dir(rtl)[disabled="true"] .button-icon {
    list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=button&state=disabled") !important;
}

/* FIXME: 32x32:
alacarte
contact-new
mail-mark-read
mail-message-new
preferences-desktop-personal
preferences-system
x-office-calendar */