/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== accountCentral.css ==========================================
  == Styles for the Messenger Account Central panel.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#acctCentralGrid {
  background-color: -moz-Field;
}

spacer {
  max-height: .5em;
}

spacer.big {
  max-height: 4em;
}

/* ::::: rows ::::: */

#acctCentralHeaderRow {
  padding-top: 10px;
  padding-bottom: 10px;
  -moz-padding-start: 10px;
  -moz-padding-end: 0px;
  font-size: 180%;
  font-weight: bold;
}

.acctCentralRow {
  -moz-binding: url("chrome://communicator/skin/communicatorBindings.xml#row-iconic");
  -moz-margin-start: 10px;
  font-size: 125%;
}

.row-iconic-icon {
  list-style-image: inherit;
  -moz-margin-end: 10px;
}

.acctCentralRowTitleBox {
  background-color: -moz-dialog;
  font-size: 150%;
  font-weight: bold;
  color: -moz-fieldtext;
}

/* ::::: links ::::: */

.acctCentralLinkText {
  cursor: pointer;
  color: -moz-fieldtext;
}

.acctCentralLinkText:hover {
  color: Highlight;
  text-decoration: underline;
}

.acctCentralLinkText:hover:active {
  color: -moz-fieldtext;
}

/* ::::: row icons ::::: */

#ReadMessages {
  list-style-image: url("chrome://global/skin/icons/32x32/mail-mark-read.png");
}

#ComposeMessage {
  list-style-image: url("chrome://global/skin/icons/32x32/mail-message-new.png");
}

#SubscribeNewsgroups {
  list-style-image: url("chrome://global/skin/icons/32x32/alacarte.png");
}

#SubscribeImapFolders {
  list-style-image: url("chrome://global/skin/icons/32x32/folder.png");
}

#SubscribeRSS {
  list-style-image: url("chrome://global/skin/icons/32x32/internet-news-reader.png");
}

#SearchMessages {
  list-style-image: url("chrome://global/skin/icons/32x32/system-search.png");
}

#AccountSettings {
  list-style-image: url("chrome://global/skin/icons/32x32/preferences-desktop-personal.png");
}

#CreateAccount {
  list-style-image: url("chrome://global/skin/icons/32x32/contact-new.png");
}

#CreateFilters {
  list-style-image: url("chrome://global/skin/icons/32x32/mail-forward.png");
}

#OfflineSettings {
  list-style-image: url("chrome://global/skin/icons/32x32/network-wired-disconnected.png");
}

#JunkSettingsMail {
  list-style-image: url("chrome://global/skin/icons/32x32/mail-mark-junk.png");
}

#JunkSettingsNews {
  list-style-image: url("chrome://global/skin/icons/32x32/mail-mark-junk.png");
}
