/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

#security-button {
  width: 20px;
  padding-right: 5px;
  background-repeat: no-repeat;
}

#security-button[level="high"],
#security-button[level="low"] {
  list-style-image: var(--icon-lock-secure-16);
}

#security-button[level="broken"] {
  list-style-image: var(--icon-lock-broken-16);
}

#security-button[loading="true"] {
  background-image: url("chrome://global/skin/icons/throbber/gnome/Throbber-small.png");
  background-position: 4px 2px;
}

#header {
  overflow: hidden;
  border-bottom: 1px solid ThreeDShadow;
}

#addressbox {
  font-weight: bold;
  font-size: normal;
  -moz-appearance: textfield;
  overflow: hidden;
  margin: 0px 5px;
  font-weight: normal;
}

#headerMessage {
  margin-top: 4px;
}
