/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== folderPane.css =================================================
  == Styles for the Folder pane in the Messenger 3-pane window.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: mail folder ::::: */

treechildren::-moz-tree-image(folderNameCol) {
  -moz-margin-end: 2px;
}

.icon-holder[type="folder"],
treechildren::-moz-tree-image(folderNameCol) {
  list-style-image: var(--icon-folder-16);
}

/* ..... IMAP shared ..... */

.icon-holder[type="folder"][ImapShared="true"],
treechildren::-moz-tree-image(folderNameCol, imapShared-true) {
  list-style-image: var(--icon-folder-remote-16);
}

/* ..... Feeds ..... */

.icon-holder[type="folder"][ServerType="rss"],
treechildren::-moz-tree-image(folderNameCol, serverType-rss) {
  list-style-image: var(--icon-folder-16);
}

/* ..... Inbox ..... */

.icon-holder[type="folder"][SpecialFolder="Inbox"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox) {
  list-style-image: var(--icon-mail-inbox-16);
}

/* ..... Sent ..... */

.icon-holder[type="folder"][SpecialFolder="Sent"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
  list-style-image: var(--icon-mail-sent-16);
}

/* ..... Outbox ..... */

.icon-holder[type="folder"][SpecialFolder="Outbox"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) {
  list-style-image: var(--icon-mail-outbox-16);
}

/* ..... Templates ..... */

.icon-holder[type="folder"][SpecialFolder="Templates"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) {
  list-style-image: var(--icon-text-x-generic-template-16)
}

/* ..... Junk ..... */

.icon-holder[type="folder"][SpecialFolder="Junk"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) {
  list-style-image: var(--icon-mail-mark-junk-16);
}

/* ..... Trash ..... */

.icon-holder[type="folder"][SpecialFolder="Trash"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
  list-style-image: var(--icon-user-trash-16);
}

/* ..... Saved Searches ..... */

.icon-holder[type="folder"][SpecialFolder="Virtual"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) {
  list-style-image: var(--icon-folder-saved-search-16);
}

treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
  font-weight: bold;
}

/* ..... Server Folders ..... */

.icon-holder[type="folder"][IsServer="true"],
treechildren::-moz-tree-image(folderNameCol, isServer-true) {
  list-style-image: var(--icon-network-server-16);
}

.icon-holder[type="folder"][IsServer="true"][ServerType="none"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
  list-style-image: var(--icon-computer-16);
}

.icon-holder[type="folder"][IsServer="true"][ServerType="rss"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-rss) {
  list-style-image: var(--icon-application-rss-xml-16);
}

/* ::::: All Servers ::::: */

treechildren::-moz-tree-cell-text(closed, subfoldersHaveUnreadMessages-true),
treechildren::-moz-tree-cell-text(folderNameCol, isServer-true),
treechildren::-moz-tree-cell-text(hasUnreadMessages-true) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(folderNameCol, noSelect-true) {
  color: gray;
  font-style: italic;
}

.tree-folder-checkbox {
  list-style-image: none;
}

treechildren::-moz-tree-image(syncCol) {
  list-style-image: url("chrome://messenger/skin/icons/dot.png");
}

treechildren::-moz-tree-image(syncCol, synchronize-true) {
  list-style-image: url("chrome://messenger/skin/icons/check.png");
}

treechildren::-moz-tree-image(syncCol, isServer-true) {
  list-style-image: none;
}

#folderUnreadCol,
#folderTotalCol,
#folderSizeCol {
  text-align: right;
}

#folderNameCol [sortDirection="ascending"] {
  list-style-image: none;
}

#folderNameCol [sortDirection="descending"] {
  list-style-image: none;
}

/* ::::: Folder Summary Popup ::::: */

.folderSummary-message-row {
  /* This max width ends up dictating the overall width of the popup
     because it controls how large the preview, subject and sender text can be
     before cropping kicks in */
  max-width: 450px;
}

.folderSummary-subject {
  font-weight: bold; 
}

.folderSummary-previewText {
  color: GrayText;
}

