/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== folderMenus.css ================================================
  == Icons for menus which represent mail folder.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: folder icons for menus ::::: */

.folderMenuItem {
  list-style-image: var(--icon-stock_folder-16);
}

.folderMenuItem[open="true"] {
  list-style-image: var(--icon-folder-open-16);
}

/* ..... special folders ..... */

.folderMenuItem[SpecialFolder="Inbox"] {
  list-style-image: var(--icon-mail-inbox-16);
}

.folderMenuItem[SpecialFolder="Sent"] {
  list-style-image: var(--icon-mail-sent-16);
}

.folderMenuItem[SpecialFolder="Outbox"] {
  list-style-image: var(--icon-mail-outbox-16);
}

.folderMenuItem[SpecialFolder="Templates"] {
  list-style-image: var(--icon-text-x-generic-template-16)
}

.folderMenuItem[SpecialFolder="Junk"] {
  list-style-image: var(--icon-mail-mark-junk-16);
}

.folderMenuItem[SpecialFolder="Trash"] {
  list-style-image: var(--icon-user-trash-16);
}

.folderMenuItem[SpecialFolder="Virtual"] {
  list-style-image: var(--icon-folder-saved-search-16);
}

/* ..... servers ..... */

.folderMenuItem[IsServer="true"] {
  list-style-image: var(--icon-network-server-16);
}

.folderMenuItem[IsServer="true"][ServerType="none"] {
  list-style-image: var(--icon-computer-16);
}

.folderMenuItem[IsServer="true"][ServerType="rss"] {
  list-style-image: var(--icon-application-rss-xml-16);
}

