/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== primaryToolbar.css =============================================
  == Images for the Mail primary toolbar.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar buttons ::::: */

#button-getmsg {
  list-style-image: var(--icon-stock_mail-receive-24);
}

#button-getmsg[disabled] {
  list-style-image: var(--icon-stock_mail-receive-24-dis);
  opacity: var(--icon-stock_mail-receive-dis-opacity);
} 

#button-newmsg {
  list-style-image: var(--icon-mail-message-new-24);
}

#button-newmsg[disabled] {
  list-style-image: var(--icon-mail-message-new-24-dis);
  opacity: var(--icon-mail-message-new-dis-opacity);
} 

#button-reply {
  list-style-image: var(--icon-mail-reply-sender-24);
}

#button-reply[disabled] {
  list-style-image: var(--icon-mail-reply-sender-24-dis);
  opacity: var(--icon-mail-reply-sender-dis-opacity);
} 

#button-replyall {
  list-style-image: var(--icon-mail-reply-all-24);
}

#button-replyall[disabled] {
  list-style-image: var(--icon-mail-reply-all-24-dis);
  opacity: var(--icon-mail-reply-all-dis-opacity);
} 

#button-forward {
  list-style-image: var(--icon-mail-forward-24);
}

#button-forward[disabled] {
  list-style-image: var(--icon-mail-forward-24-dis);
  opacity: var(--icon-mail-forward-dis-opacity);
} 

#button-file {
  list-style-image: var(--icon-folder-24);
}

#button-file[disabled] {
  list-style-image: var(--icon-folder-24-dis);
  opacity: var(--icon-folder-dis-opacity);
} 

#button-goback {
  list-style-image: var(--icon-go-previous-24);
}

#button-goback[disabled="true"] {
  list-style-image: var(--icon-go-previous-24-dis);
  opacity: var(--icon-go-previous-dis-opacity);
} 

#button-goback:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-24);
}

#button-goback:-moz-locale-dir(rtl)[disabled="true"] {
  list-style-image: var(--icon-go-previous-rtl-24-dis);
  opacity: var(--icon-go-previous-rtl-dis-opacity);
}

#button-goforward {
  list-style-image: var(--icon-go-next-24);
}

#button-goforward[disabled="true"] {
  list-style-image: var(--icon-go-next-24-dis);
  opacity: var(--icon-go-next-dis-opacity);
}

#button-goforward:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-24);
}

#button-goforward:-moz-locale-dir(rtl)[disabled="true"] {
  list-style-image: var(--icon-go-next-rtl-24);
  opacity: var(--icon-go-next-rtl-dis-opacity);
}

#button-next {
  list-style-image: var(--icon-go-down-24);
}

#button-next[disabled] {
  list-style-image: var(--icon-go-down-24-dis);
  opacity: var(--icon-go-down-dis-opacity);
} 

#button-delete {
  list-style-image: var(--icon-edit-delete-24);
}

#button-delete[disabled] {
  list-style-image: var(--icon-edit-delete-24-dis);
  opacity: var(--icon-edit-delete-dis-opacity);
}

toolbarpaletteitem > #button-delete {
  display: -moz-box;
}

#button-mark {
  list-style-image: var(--icon-mail-mark-read-24);
}

#button-mark[disabled] {
  list-style-image: var(--icon-mail-mark-read-24-dis);
  opacity: var(--icon-mail-mark-read-dis-opacity);
} 

#button-isJunk {
  list-style-image: var(--icon-mail-mark-junk-24);
}

#button-isJunk[disabled="true"] {
  list-style-image: var(--icon-mail-mark-junk-24-dis);
  opacity: var(--icon-mail-mark-junk-dis-opacity);
}

#button-notJunk {
  list-style-image: var(--icon-mail-mark-notjunk-24);
}

#button-notJunk[disabled="true"] {
  list-style-image: var(--icon-mail-mark-notjunk-24-dis);
  opacity: var(--icon-mail-mark-junk-dis-opacity);
}

#button-print {
  list-style-image: var(--icon-document-print-24);
}

#button-print[disabled] {
  list-style-image: var(--icon-document-print-24-dis);
  opacity: var(--icon-document-print-dis-opacity);
}

#button-stop {
  list-style-image: var(--icon-process-stop-24);
}

#button-stop[disabled="true"] {
  list-style-image: var(--icon-process-stop-24-dis);
  opacity: var(--icon-process-stop-dis-opacity);
}

#sync-button {
  list-style-image: url("chrome://communicator/skin/sync/sync-24.png");
}

#sync-button[status=active] {
  list-style-image: url("chrome://communicator/skin/sync/sync-24-throbber.png");
}

/* Sync icon is 22x22, we should compensate this */
/*toolbar:not([iconsize="small"]) #sync-button .toolbarbutton-icon {
  margin: 1px;
}
*/
#locationFolders {
  width: 22em;
}

toolbarpaletteitem[place="palette"] > #folder-location-container > #locationFolders {
  max-width: 11em;
}

toolbarpaletteitem[place="palette"] > #search-container > #searchInput {
  max-width: 11em;
}

toolbarpaletteitem[place="palette"] > #mailviews-container > #viewPicker {
  max-width: 11em;
}

#viewPickerPopup > menuitem > .menu-iconic-left,
#viewPickerPopup > menu > menupopup > menuitem > .menu-iconic-left {
  display: -moz-box !important;
}

/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] > #button-getmsg,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-getmsg {
  list-style-image: var(--icon-stock_mail-receive-16);
}

toolbar[iconsize="small"] > #button-getmsg[disabled] {
  list-style-image: var(--icon-stock_mail-receive-16-dis);
  opacity: var(--icon-stock_mail-receive-dis-opacity);
}

toolbar[iconsize="small"] > #button-newmsg,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newmsg {
  list-style-image: var(--icon-mail-message-new-16);
}

toolbar[iconsize="small"] > #button-newmsg[disabled] {
  list-style-image: var(--icon-mail-message-new-16-dis);
  opacity: var(--icon-mail-message-new-dis-opacity);
}

toolbar[iconsize="small"] > #button-reply,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-reply {
  list-style-image: var(--icon-mail-reply-sender-16);
}

toolbar[iconsize="small"] > #button-reply[disabled] {
  list-style-image: var(--icon-mail-reply-sender-16-dis);
  opacity: var(--icon-mail-reply-sender-dis-opacity);
}

toolbar[iconsize="small"] > #button-replyall,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-replyall {
  list-style-image: var(--icon-mail-reply-all-16);
}

toolbar[iconsize="small"] > #button-replyall[disabled] {
  list-style-image: var(--icon-mail-reply-all-16-dis);
  opacity: var(--icon-mail-reply-all-dis-opacity);
}

toolbar[iconsize="small"] > #button-forward,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-forward {
  list-style-image: var(--icon-mail-forward-16);
}

toolbar[iconsize="small"] > #button-forward[disabled] {
  list-style-image: var(--icon-mail-forward-16-dis);
  opacity: var(--icon-mail-forward-dis-opacity);
}

toolbar[iconsize="small"] > #button-file,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-file {
  list-style-image: var(--icon-folder-16);
}

toolbar[iconsize="small"] > #button-file[disabled] {
  list-style-image: var(--icon-folder-16-dis);
}

toolbar[iconsize="small"] > #button-goback,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-goback {
  list-style-image: var(--icon-go-previous-16);
}

toolbar[iconsize="small"] > #button-goback[disabled="true"] {
  list-style-image: var(--icon-go-previous-16-dis);
}

toolbar[iconsize="small"] > #button-goback:-moz-locale-dir(rtl),
toolbar[iconsize="small"] > toolbarpaletteitem > #button-goback:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-16);
}

toolbar[iconsize="small"] > #button-goback:-moz-locale-dir(rtl)[disabled="true"] {
  list-style-image: var(--icon-go-previous-rtl-16-dis);
}

toolbar[iconsize="small"] > #button-goforward,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-goforward {
  list-style-image: var(--icon-go-next-16);
}

toolbar[iconsize="small"] > #button-goforward[disabled="true"] {
  list-style-image: var(--icon-go-next-16-dis);
}

toolbar[iconsize="small"] > #button-goforward:-moz-locale-dir(rtl),
toolbar[iconsize="small"] > toolbarpaletteitem > #button-goforward:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-16);
}

toolbar[iconsize="small"] > #button-goforward:-moz-locale-dir(rtl)[disabled="true"] {
  list-style-image: var(--icon-go-next-rtl-16-dis);
}

toolbar[iconsize="small"] > #button-next,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-next {
  list-style-image: var(--icon-go-down-16);
}

toolbar[iconsize="small"] > #button-next[disabled] {
  list-style-image: var(--icon-go-down-16-dis);
}

toolbar[iconsize="small"] > #button-delete,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-delete {
  list-style-image: var(--icon-edit-delete-16);
}

toolbar[iconsize="small"] > #button-delete[disabled],
toolbar[iconsize="small"] > toolbarpaletteitem > #button-delete[disabled] {
  list-style-image: var(--icon-edit-delete-16-dis);
}

toolbar[iconsize="small"] > #button-mark,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-mark {
  list-style-image: var(--icon-mail-mark-read-16);
}

toolbar[iconsize="small"] > #button-mark[disabled] {
  list-style-image: var(--icon-mail-mark-read-16-dis);
  opacity: var(--icon-mail-mark-read-dis-opacity);
}

toolbar[iconsize="small"] #button-isJunk {
  list-style-image: var(--icon-mail-mark-junk-16);
}

toolbar[iconsize="small"] #button-isJunk[disabled] {
  list-style-image: var(--icon-mail-mark-junk-16-dis);
  opacity: var(--icon-mail-mark-junk-dis-opacity);
}

toolbar[iconsize="small"] #button-notJunk {
  list-style-image: var(--icon-mail-mark-notjunk-16);
}

toolbar[iconsize="small"] #button-notJunk[disabled] {
  list-style-image: var(--icon-mail-mark-notjunk-16-dis);
  opacity: var(--icon-mail-mark-notjunk-dis-opacity);
}

toolbar[iconsize="small"] > #button-print,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-print {
  list-style-image: var(--icon-document-print-16);
}

toolbar[iconsize="small"] > #button-print[disabled] {
  list-style-image: var(--icon-document-print-16-dis);
}

toolbar[iconsize="small"] > #button-stop,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-stop {
  list-style-image: var(--icon-process-stop-16);
}

toolbar[iconsize="small"] > #button-stop[disabled="true"] {
  list-style-image: var(--icon-process-stop-16-dis);
}

toolbar[iconsize="small"] > toolbarpaletteitem > #sync-button,
toolbar[iconsize="small"] > #sync-button {
  list-style-image: url("chrome://communicator/skin/sync/sync-16.png");
}

toolbar[iconsize="small"] > toolbarpaletteitem > #sync-button[status=active],
toolbar[iconsize="small"] > #sync-button[status=active] {
  list-style-image: url("chrome://communicator/skin/sync/sync-16-throbber.png");
}

/* ::::: message notification bar style rules ::::: */

.msgNotificationBar:-moz-lwtheme {
  text-shadow: none;
}

.messageImage[value="remoteContent"] {
  list-style-image: var(--icon-image-missing-16);
}

.messageImage[value="junkContent"] {
  list-style-image: var(--icon-mail-mark-junk-16);
}

.messageImage[value="phishingContent"] {
  list-style-image: url("chrome://global/skin/icons/16x16/phishing.png");
}

.messageImage[value="mdnContent"] {
  list-style-image: var(--icon-dialog-question-16);
}
