/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== threadPane.css ==============================================
  == Styles for the thread pane in the Messenger 3-pane window.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: thread decoration ::::: */

treechildren::-moz-tree-cell-text(read) {
  font-weight: normal;
}

treechildren::-moz-tree-cell-text(unread) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(imapdeleted) {
  text-decoration: line-through;
}

/* on a collapsed thread, if the top level message is read, but the thread has
 * unread children, underline the text.  4.x mac did this, very slick 
 */
treechildren::-moz-tree-cell-text(container, closed, hasUnread, read) {
  text-decoration: underline;
}

/* ::::: priority colors ::::: */
/****
 ****  Priority colors currently not being used at the moment.  It has been
 ****  disabled so as to not conflict with the labels color feature.
 ****
treechildren::-moz-tree-cell-text(priorityCol, priority-highest) {
  color: red;
}

treechildren::-moz-tree-cell-text(priorityCol, priority-high) {
  color: rgb(128, 0, 0);
}

treechildren::-moz-tree-cell-text(priorityCol, priority-lowest) {
  color: rgb(170, 170, 170);
}

treechildren::-moz-tree-cell-text(priorityCol, priority-low) {
  color: rgb(85, 85, 85);
}

treechildren::-moz-tree-cell-text(priorityCol, selected) {
  color: -moz-DialogText;
}

treechildren::-moz-tree-cell-text(priorityCol, selected, focus) {
  color: HighlightText;
}
 ****/

/* ..... thread column ..... */

.threadColumnHeader {
  list-style-image: var(--icon-stock_mail-16);
}

.threadColumnHeader[sortDirection="ascending"]  {
  list-style-image: var(--icon-stock_mail-copy-16);
}

.threadColumnHeader[sortDirection="descending"] {
  list-style-image: var(--icon-stock_mail-copy-16);
}

treechildren::-moz-tree-image(threadCol, container) {
  list-style-image: var(--icon-stock_mail-open-multiple-16);
}

treechildren::-moz-tree-image(threadCol, container, hasUnread) {
  list-style-image: var(--icon-stock_mail-unread-multiple-16);
}

/* ..... read column ..... */

	.readColumnHeader {
	  list-style-image: var(--icon-mail-mark-unread-16);
}

treechildren::-moz-tree-image(unreadButtonColHeader, unread) {
  list-style-image: var(--icon-mail-mark-unread-16);
}

/* ..... attachment column ..... */

.attachmentColumnHeader {
  list-style-image: var(--icon-mail-attachment-16);
}

treechildren::-moz-tree-image(attachmentCol, attach) {
  list-style-image: var(--icon-mail-attachment-16);
}

/* ..... flag column ..... */

.flagColumnHeader {
  list-style-image: var(--icon-mail-mark-important-16);
}

treechildren::-moz-tree-image(flaggedCol, flagged) {
  list-style-image: var(--icon-mail-mark-important-16);
}

/* ..... junkStatus column ..... */

.junkStatusHeader {
  list-style-image: var(--icon-mail-mark-junk-16);
}

treechildren::-moz-tree-image(junkStatusCol, junk) {
  list-style-image: var(--icon-mail-mark-junk-16);
}

/* ..... subject column, tab and menuitem icons ..... */

.icon-holder[type="message"],
treechildren::-moz-tree-image(subjectCol) {
  list-style-image: var(--icon-mail-read-16);
}

treechildren::-moz-tree-image(subjectCol) {
  -moz-margin-end: 2px;
}

treechildren::-moz-tree-image(subjectCol, unread) {
  list-style-image: var(--icon-mail-unread-16);
}

treechildren::-moz-tree-image(subjectCol, replied) {
  list-style-image: var(--icon-mail-replied-16);
}

.icon-holder[type="message"][IMAPDeleted="true"],
treechildren::-moz-tree-image(subjectCol, imapdeleted) {
  list-style-image: var(--icon-user-trash-16);
}

#sizeCol,
#unreadCol,
#totalCol {
  text-align: right;
}

