/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

#downloadManager {
  background-color: ThreeDFace;
}

/* Download View */
#downloadView {
  -moz-appearance: none !important;
  margin: 0;
  border-bottom: 2px solid;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
}

/* Download View Items */
richlistitem[type="download"] {
  padding: 4px 8px 4px 4px;
  min-height: 46px;
}

richlistitem[type="download"]:not([selected="true"]):nth-child(odd) {
  background-color: -moz-oddtreerow;
}

richlistitem[type="download"] .name {
  font-size: larger;
}

richlistitem[type="download"] .dateTime {
  font-size: smaller;
}

.mini-button {
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
}

.mini-button > .button-box {
  padding: 0 !important;
}

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

.cancel,
#menuitem_cancel {
  list-style-image: var(--icon-gtk-cancel-16);
}

#menuitem_cancel[disabled="true"] {
  list-style-image: var(--icon-gtk-cancel-16-dis);
}

#menuitem_open {
  list-style-image: var(--icon-document-open-16);
}

#menuitem_open[disabled="true"] {
  list-style-image: var(--icon-document-open-16-dis);
}

.pause,
#menuitem_pause {
  list-style-image: var(--icon-media-playback-pause-16);
}

.pause[disabled="true"],
#menuitem_pause[disabled="true"] {
  list-style-image: var(--icon-media-playback-pause-16-dis);
}

.resume,
#menuitem_resume {
  list-style-image: var(--icon-media-playback-start-16);
}

#menuitem_resume[disabled="true"] {
  list-style-image: var(--icon-media-playback-start-16-dis);
}

.retry,
#menuitem_retry {
  list-style-image: var(--icon-edit-redo-16);
}

#menuitem_retry[disabled="true"] {
  list-style-image: var(--icon-edit-redo-16-dis);
}

#menuitem_openReferrer {
  list-style-image: var(--icon-go-jump-16);
}

#menuitem_openReferrer[disabled="true"] {
  list-style-image: var(--icon-go-jump-16-dis);
}

#menuitem_removeFromList {
  list-style-image: var(--icon-list-remove-16);
}

#menuitem_removeFromList[disabled="true"] {
  list-style-image: var(--icon-list-remove-16-dis);
}

#menuitem_copyLocation {
  list-style-image: var(--icon-edit-copy-16);
}

#menuitem_copyLocation[disabled="true"] {
  list-style-image: var(--icon-edit-copy-16-dis);
}

#menuitem_selectAll {
  list-style-image: var(--icon-edit-select-all-16);
}

#menuitem_selectAll[disabled="true"] {
  list-style-image: var(--icon-edit-select-all-16);
}

.blockedIcon {
  list-style-image: var(--icon-dialog-error-48);
  width: 32px;
  height: 32px;
}

/* prevent flickering when changing states */
.downloadTypeIcon {
  min-height: 32px;
  min-width: 32px;
}

#clearListButton {
  list-style-image: var(--icon-edit-clear-22);
  margin-top: 3px;
}

#clearListButton[disabled="true"] {
  list-style-image: var(--icon-edit-clear-22-dis);
}
