/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-base.css");

:root {
  --icon-go-previous-16:			url("chrome://icons/skin/gnome/16x16/go-previous.png");
  --icon-go-previous-24:			url("chrome://icons/skin/gnome/24x24/go-previous.png");
  --icon-go-previous-16-dis:		var(--icon-go-previous-16);
  --icon-go-previous-24-dis:		var(--icon-go-previous-24);
  --icon-go-previous-dis-opacity:	var(--icon-base-dis-opacity);

  --icon-go-next-16:				url("chrome://icons/skin/gnome/16x16/go-next.png");
  --icon-go-next-24:				url("chrome://icons/skin/gnome/24x24/go-next.png");
  --icon-go-next-16-dis:			var(--icon-go-next-16);
  --icon-go-next-24-dis:			var(--icon-go-next-24);
  --icon-go-next-dis-opacity:		var(--icon-base-dis-opacity);

  --icon-process-stop-16:			url("chrome://icons/skin/gnome/16x16/process-stop.png");
  --icon-process-stop-24:			url("chrome://icons/skin/gnome/24x24/process-stop.png");
  --icon-process-stop-16-dis:		var(--icon-process-stop-16);
  --icon-process-stop-24-dis:		var(--icon-process-stop-24);
  --icon-process-stop-dis-opacity:	var(--icon-base-dis-opacity);

  --icon-view-refresh-16:			url("chrome://icons/skin/gnome/16x16/view-refresh.png");
  --icon-view-refresh-24:			url("chrome://icons/skin/gnome/24x24/view-refresh.png");
  --icon-view-refresh-16-dis:		var(--icon-view-refresh-16);
  --icon-view-refresh-24-dis:		var(--icon-view-refresh-24);
  --icon-view-refresh-dis-opacity:	var(--icon-base-dis-opacity);
}
