/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-gnome.css");

:root {
/* Actions */
  --icon-document-new-24:					url("chrome://icons/skin/tango/24x24/actions/document-new.png");
  --icon-document-new-24-dis:				var(--icon-document-new-24);
  --icon-document-new-dis-opacity:			var(--icon-base-dis-opacity);

  --icon-document-open-16:					url("chrome://icons/skin/tango/16x16/actions/document-open.png");
  --icon-document-open-22:					url("chrome://icons/skin/tango/22x22/actions/document-open.png");
  --icon-document-open-24:					url("chrome://icons/skin/tango/24x24/actions/document-open.png");
  --icon-document-open-16-dis:				var(--icon-document-open-16);
  --icon-document-open-22-dis:				var(--icon-document-open-22);
  --icon-document-open-24-dis:				var(--icon-document-open-24);
  --icon-document-open-dis-opacity:			var(--icon-base-dis-opacity);

  --icon-document-print-16:					url("chrome://icons/skin/tango/16x16/actions/document-print.png");
  --icon-document-print-24:					url("chrome://icons/skin/tango/24x24/actions/document-print.png");
  --icon-document-print-16-dis:				var(--icon-document-print-16);
  --icon-document-print-24-dis:				var(--icon-document-print-24);
  --icon-document-print-dis-opacity:		var(--icon-base-dis-opacity);

  --icon-document-save-16:					url("chrome://icons/skin/tango/16x16/actions/document-save.png");
  --icon-document-save-22:					url("chrome://icons/skin/tango/22x22/actions/document-save.png");
  --icon-document-save-24:					url("chrome://icons/skin/tango/24x24/actions/document-save.png");
  --icon-document-save-16-dis:				var(--icon-document-save-16);
  --icon-document-save-22-dis:				var(--icon-document-save-22);
  --icon-document-save-24-dis:				var(--icon-document-save-24);
  --icon-document-save-dis-opacity:			var(--icon-base-dis-opacity);

  --icon-edit-copy-16:						url("chrome://icons/skin/tango/16x16/actions/edit-copy.png");
  --icon-edit-copy-24:						url("chrome://icons/skin/tango/24x24/actions/edit-copy.png");
  --icon-edit-copy-16-dis:					var(--icon-edit-copy-16);
  --icon-edit-copy-24-dis:					var(--icon-edit-copy-24);
  --icon-edit-copy-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-edit-cut-16:						url("chrome://icons/skin/tango/16x16/actions/edit-cut.png");
  --icon-edit-cut-24:						url("chrome://icons/skin/tango/24x24/actions/edit-cut.png");
  --icon-edit-cut-16-dis:					var(--icon-edit-cut-16);
  --icon-edit-cut-24-dis:					var(--icon-edit-cut-24);
  --icon-edit-cut-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-edit-find-16:						url("chrome://icons/skin/tango/16x16/actions/edit-find.png");
  --icon-edit-find-22:						url("chrome://icons/skin/tango/22x22/actions/edit-find.png");
  --icon-edit-find-24:						url("chrome://icons/skin/tango/24x24/actions/edit-find.png");
  --icon-edit-find-16-dis:					var(--icon-edit-find-16);
  --icon-edit-find-22-dis:					var(--icon-edit-find-22);
  --icon-edit-find-24-dis:					var(--icon-edit-find-24);
  --icon-edit-find-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-edit-paste-16:						url("chrome://icons/skin/tango/16x16/actions/edit-paste.png");
  --icon-edit-paste-24:						url("chrome://icons/skin/tango/24x24/actions/edit-paste.png");
  --icon-edit-paste-16-dis:					var(--icon-edit-paste-16);
  --icon-edit-paste-24-dis:					var(--icon-edit-paste-24);
  --icon-edit-paste-dis-opacity:			var(--icon-base-dis-opacity);

  --icon-go-bottom-16:						url("chrome://icons/skin/tango/16x16/actions/go-bottom.png");
  --icon-go-bottom-16-dis:					var(--icon-go-bottom-16);
  --icon-go-bottom-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-go-down-16:						url("chrome://icons/skin/tango/16x16/actions/go-down.png");
  --icon-go-down-24:						url("chrome://icons/skin/tango/24x24/actions/go-down.png");
  --icon-go-down-16-dis:					var(--icon-go-down-16);
  --icon-go-down-24-dis:					var(--icon-go-down-24);
  --icon-go-down-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-go-home-16:						url("chrome://icons/skin/tango/16x16/actions/go-home.png");
  --icon-go-home-24:						url("chrome://icons/skin/tango/24x24/actions/go-home.png");
  --icon-go-home-16-dis:					var(--icon-go-home-16);
  --icon-go-home-24-dis:					var(--icon-go-home-24);
  --icon-go-home-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-go-first-16:						url("chrome://icons/skin/tango/16x16/actions/go-first.png");
  --icon-go-first-16-dis:					var(--icon-go-first-16);
  --icon-go-first-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-go-last-16:						url("chrome://icons/skin/tango/16x16/actions/go-last.png");
  --icon-go-last-16-dis:					var(--icon-go-last-16);
  --icon-go-last-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-go-first-rtl-16:					var(--icon-go-last-16);
  --icon-go-first-rtl-16-dis:				var(--icon-go-last-16-dis);
  --icon-go-first-rtl-dis-opacity:			var(--icon-go-last-dis-opacity);

  --icon-go-last-rtl-16:					var(--icon-go-first-16);
  --icon-go-last-rtl-16-dis:				var(--icon-go-first-16-dis);
  --icon-go-last-rtl-dis-opacity:			var(--icon-go-first-dis-opacity);

  --icon-go-next-16:						url("chrome://icons/skin/tango/16x16/actions/go-next.png");
  --icon-go-next-24:						url("chrome://icons/skin/tango/24x24/actions/go-next.png");
  --icon-go-next-16-dis:					var(--icon-go-next-16);
  --icon-go-next-24-dis:					var(--icon-go-next-24);
  --icon-go-next-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-go-previous-16:					url("chrome://icons/skin/tango/16x16/actions/go-previous.png");
  --icon-go-previous-24:					url("chrome://icons/skin/tango/24x24/actions/go-previous.png");
  --icon-go-previous-16-dis:				var(--icon-go-previous-16);
  --icon-go-previous-24-dis:				var(--icon-go-previous-24);
  --icon-go-previous-dis-opacity:			var(--icon-base-dis-opacity);

  --icon-go-next-rtl-16:					var(--icon-go-previous-16);
  --icon-go-next-rtl-24:					var(--icon-go-previous-24);
  --icon-go-next-rtl-16-dis:				var(--icon-go-previous-16-dis);
  --icon-go-next-rtl-24-dis:				var(--icon-go-previous-24-dis);
  --icon-go-next-rtl-dis-opacity:			var(--icon-go-previous-dis-opacity);

  --icon-go-previous-rtl-16:				var(--icon-go-next-16);
  --icon-go-previous-rtl-24:				var(--icon-go-next-24);
  --icon-go-previous-rtl-16-dis:			var(--icon-go-next-16-dis);
  --icon-go-previous-rtl-24-dis:			var(--icon-go-next-24-dis);
  --icon-go-previous-rtl-dis-opacity:		var(--icon-go-next-dis-opacity);

  --icon-go-top-16:							url("chrome://icons/skin/tango/16x16/actions/go-top.png");
  --icon-go-top-24:							url("chrome://icons/skin/tango/24x24/actions/go-top.png");
  --icon-go-top-16-dis:						var(--icon-go-top-16);
  --icon-go-top-24-dis:						var(--icon-go-top-24);
  --icon-go-top-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-go-up-16:							url("chrome://icons/skin/tango/16x16/actions/go-up.png");
  --icon-go-up-24:							url("chrome://icons/skin/tango/24x24/actions/go-up.png");
  --icon-go-up-16-dis:						var(--icon-go-up-16);
  --icon-go-up-24-dis:						var(--icon-go-up-24);
  --icon-go-up-dis-opacity:					var(--icon-base-dis-opacity);

  --icon-list-add-16:						url("chrome://icons/skin/tango/16x16/actions/list-add.png");
  --icon-list-add-22:						url("chrome://icons/skin/tango/22x22/actions/list-add.png");
  --icon-list-add-16-dis:					var(--icon-list-add-16);
  --icon-list-add-22-dis:					var(--icon-list-add-22);
  --icon-list-add-dis-opacity:				var(--icon-base-dis-opacity);

  --icon-list-remove-22:					url("chrome://icons/skin/tango/22x22/actions/list-remove.png");
  --icon-list-remove-22-dis:				var(--icon-list-remove-22);
  --icon-list-remove-dis-opacity:			var(--icon-base-dis-opacity);

  --icon-process-stop-16:					url("chrome://icons/skin/tango/16x16/actions/process-stop.png");
  --icon-process-stop-24:					url("chrome://icons/skin/tango/24x24/actions/process-stop.png");
  --icon-process-stop-16-dis:				var(--icon-process-stop-16);
  --icon-process-stop-24-dis:				var(--icon-process-stop-24);
  --icon-process-stop-dis-opacity:			var(--icon-base-dis-opacity);

  --icon-view-refresh-16:					url("chrome://icons/skin/tango/16x16/actions/view-refresh.png");
  --icon-view-refresh-24:					url("chrome://icons/skin/tango/24x24/actions/view-refresh.png");
  --icon-view-refresh-16-dis:				var(--icon-view-refresh-16);
  --icon-view-refresh-24-dis:				var(--icon-view-refresh-24);
  --icon-view-refresh-dis-opacity:			var(--icon-base-dis-opacity);

/* Mimetypes */
  --icon-text-x-generic-16:					url("chrome://icons/skin/tango/16x16/mimetypes/text-x-generic.png");
  --icon-text-x-generic-16-dis:				var(--icon-text-x-generic-16);
  --icon-text-x-generic-dis-opacity:		var(--icon-base-dis-opacity);

/* Places */
  --icon-folder-16:							url("chrome://icons/skin/tango/16x16/places/folder.png");
  --icon-folder-24:							url("chrome://icons/skin/tango/24x24/places/folder.png");
  --icon-folder-16-dis:						var(--icon-folder-16);
  --icon-folder-24-dis:						var(--icon-folder-24);
  --icon-folder-dis-opacity:				var(--icon-base-dis-opacity);

/* Status */
  --icon-dialog-information-16:				url("chrome://icons/skin/tango/16x16/status/dialog-information.png");
  --icon-dialog-information-24:				url("chrome://icons/skin/tango/24x24/status/dialog-information.png");
  --icon-dialog-information-16-dis:			var(--icon-dialog-information-16);
  --icon-dialog-information-24-dis:			var(--icon-dialog-information-24);
  --icon-dialog-information-dis-opacity:	var(--icon-base-dis-opacity);
}

