/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-base.css");

:root {
  --icon-go-previous-16:			url("moz-icon://stock/gtk-go-back?size=menu");
  --icon-go-previous-16-dis:		url("moz-icon://stock/gtk-go-back?size=menu&state=disabled");
  --icon-go-previous-24:			url("moz-icon://stock/gtk-go-back?size=toolbar") !important;
  --icon-go-previous-24-dis:		url("moz-icon://stock/gtk-go-back?size=toolbar&state=disabled");
  --icon-go-previous-dis-opacity:	var(--icon-base-dis-native-opacity);

  --icon-go-next-16:				url("moz-icon://stock/gtk-go-forward?size=menu");
  --icon-go-next-16-dis:			url("moz-icon://stock/gtk-go-forward?size=menu&state=disabled");
  --icon-go-next-24:				url("moz-icon://stock/gtk-go-forward?size=toolbar");
  --icon-go-next-24-dis:			url("moz-icon://stock/gtk-go-forward?size=toolbar&state=disabled");
  --icon-go-next-dis-opacity:		var(--icon-base-dis-native-opacity);

  --icon-process-stop-16:			url("moz-icon://stock/gtk-stop?size=menu");
  --icon-process-stop-16-dis:		url("moz-icon://stock/gtk-stop?size=menu&state=disabled");
  --icon-process-stop-24:			url("moz-icon://stock/gtk-stop?size=toolbar");
  --icon-process-stop-24-dis:		url("moz-icon://stock/gtk-stop?size=toolbar&state=disabled");
  --icon-process-stop-dis-opacity:		var(--icon-base-dis-native-opacity);

  --icon-view-refresh-16:			url("moz-icon://stock/gtk-refresh?size=menu");
  --icon-view-refresh-16-dis:		url("moz-icon://stock/gtk-refresh?size=menu&state=disabled");
  --icon-view-refresh-24:			url("moz-icon://stock/gtk-refresh?size=toolbar");
  --icon-view-refresh-24-dis:		url("moz-icon://stock/gtk-refresh?size=toolbar&state=disabled");
  --icon-view-refresh-dis-opacity:		var(--icon-base-dis-native-opacity);
}
