/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-base.css");

:root {
/* Actions */
  --icon-document-new-24:					url("moz-icon://stock/gtk-new?size=toolbar");
  --icon-document-new-24-dis:				url("moz-icon://stock/gtk-new?size=toolbar&state=disabled");
  --icon-document-new-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-document-open-16:					url("moz-icon://stock/gtk-open?size=menu");
  --icon-document-open-22:					url("moz-icon://stock/gtk-open?size=button");
  --icon-document-open-24:					url("moz-icon://stock/gtk-open?size=toolbar");
  --icon-document-open-16-dis:				url("moz-icon://stock/gtk-open?size=menu&state=disabled");
  --icon-document-open-22-dis:				url("moz-icon://stock/gtk-open?size=button&state=disabled");
  --icon-document-open-24-dis:				url("moz-icon://stock/gtk-open?size=toolbar&state=disabled");
  --icon-document-open-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-document-print-16:					url("moz-icon://stock/gtk-print?size=menu");
  --icon-document-print-24:					url("moz-icon://stock/gtk-print?size=toolbar");
  --icon-document-print-16-dis:				url("moz-icon://stock/gtk-print?size=menu&state=disabled");
  --icon-document-print-24-dis:				url("moz-icon://stock/gtk-print?size=toolbar&state=disabled");
  --icon-document-print-dis-opacity:		var(--icon-base-dis-native-opacity);

  --icon-document-save-16:					url("moz-icon://stock/gtk-save?size=menu");
  --icon-document-save-22:					url("moz-icon://stock/gtk-save?size=button");
  --icon-document-save-24:					url("moz-icon://stock/gtk-save?size=toolbar");
  --icon-document-save-16-dis:				url("moz-icon://stock/gtk-save?size=menu&state=disabled");
  --icon-document-save-22-dis:				url("moz-icon://stock/gtk-save?size=button&state=disabled");
  --icon-document-save-24-dis:				url("moz-icon://stock/gtk-save?size=toolbar&state=disabled");
  --icon-document-save-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-edit-copy-16:						url("moz-icon://stock/gtk-copy?size=menu");
  --icon-edit-copy-24:						url("moz-icon://stock/gtk-copy?size=toolbar");
  --icon-edit-copy-16-dis:					url("moz-icon://stock/gtk-copy?size=menu&state=disabled");
  --icon-edit-copy-24-dis:					url("moz-icon://stock/gtk-copy?size=toolbar&state=disabled");
  --icon-edit-copy-dis-opacity:				var(--icon-base-dis-native-opacity);

  --icon-edit-cut-16:						url("moz-icon://stock/gtk-cut?size=menu");
  --icon-edit-cut-24:						url("moz-icon://stock/gtk-cut?size=toolbar");
  --icon-edit-cut-16-dis:					url("moz-icon://stock/gtk-cut?size=menu&state=disabled");
  --icon-edit-cut-24-dis:					url("moz-icon://stock/gtk-cut?size=toolbar&state=disabled");
  --icon-edit-cut-dis-opacity:				var(--icon-base-dis-native-opacity);

  --icon-edit-find-16:						url("moz-icon://stock/gtk-find?size=menu");
  --icon-edit-find-22:						url("moz-icon://stock/gtk-find?size=button");
  --icon-edit-find-24:						url("moz-icon://stock/gtk-find?size=toolbar");
  --icon-edit-find-16-dis:					url("moz-icon://stock/gtk-find?size=menu&state=disabled");
  --icon-edit-find-22-dis:					url("moz-icon://stock/gtk-find?size=button&state=disabled");
  --icon-edit-find-24-dis:					url("moz-icon://stock/gtk-find?size=toolbar&state=disabled");
  --icon-edit-find-dis-opacity:				var(--icon-base-dis-native-opacity);

  --icon-edit-paste-16:						url("moz-icon://stock/gtk-paste?size=menu");
  --icon-edit-paste-24:						url("moz-icon://stock/gtk-paste?size=toolbar");
  --icon-edit-paste-16-dis:					url("moz-icon://stock/gtk-paste?size=menu&state=disabled");
  --icon-edit-paste-24-dis:					url("moz-icon://stock/gtk-paste?size=toolbar&state=disabled");
  --icon-edit-paste-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-go-down-16:						url("moz-icon://stock/gtk-go-down?size=menu");
  --icon-go-down-24:						url("moz-icon://stock/gtk-go-down?size=toolbar");
  --icon-go-down-16-dis:					url("moz-icon://stock/gtk-go-down?size=menu&state=disabled");
  --icon-go-down-24-dis:					url("moz-icon://stock/gtk-go-down?size=toolbar&state=disabled");
  --icon-go-down-dis-opacity:				var(--icon-base-dis-native-opacity);

  --icon-go-home-16:						url("moz-icon://stock/gtk-home?size=menu");
  --icon-go-home-24:						url("moz-icon://stock/gtk-home?size=toolbar");
  --icon-go-home-16-dis:					url("moz-icon://stock/gtk-home?size=menu&state=disabled");
  --icon-go-home-24-dis:					url("moz-icon://stock/gtk-home?size=toolbar&state=disabled");
  --icon-go-home-dis-opacity:				var(--icon-base-dis-native-opacity);

  --icon-go-first-16:						url("moz-icon://stock/gtk-goto-first-ltr?size=menu");
  --icon-go-first-16-dis:					url("moz-icon://stock/gtk-goto-first-ltr?size=menu&state=disabled");
  --icon-go-first-dis-opacity:				var(--icon-base-dis-native-opacity);

  --icon-go-last-16:						url("moz-icon://stock/gtk-goto-last-ltr?size=menu");
  --icon-go-last-16-dis:					url("moz-icon://stock/gtk-goto-last-ltr?size=menu&state=disabled");
  --icon-go-last-dis-opacity:				var(--icon-base-dis-native-opacity);

  --icon-go-first-rtl-16:					url("moz-icon://stock/gtk-goto-first-rtl?size=menu");
  --icon-go-first-rtl-16-dis:				url("moz-icon://stock/gtk-goto-first-rtl?size=menu&state=disabled");
  --icon-go-first-rtl-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-go-last-rtl-16:					url("moz-icon://stock/gtk-goto-last-rtl?size=menu");
  --icon-go-last-rtl-16-dis:				url("moz-icon://stock/gtk-goto-last-rtl?size=menu&state=disabled");
  --icon-go-last-rtl-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-go-next-16:						url("moz-icon://stock/gtk-go-forward-ltr?size=menu");
  --icon-go-next-24:						url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar");
  --icon-go-next-16-dis:					url("moz-icon://stock/gtk-go-forward-ltr?size=menu&state=disabled");
  --icon-go-next-24-dis:					url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar&state=disabled");
  --icon-go-next-dis-opacity:				var(--icon-base-dis-native-opacity);

  --icon-go-previous-16:					url("moz-icon://stock/gtk-go-back-ltr?size=menu");
  --icon-go-previous-24:					url("moz-icon://stock/gtk-go-back-ltr?size=toolbar");
  --icon-go-previous-16-dis:				url("moz-icon://stock/gtk-go-back-ltr?size=menu&state=disabled");
  --icon-go-previous-24-dis:				url("moz-icon://stock/gtk-go-back-ltr?size=toolbar&state=disabled");
  --icon-go-previous-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-go-next-rtl-16:					url("moz-icon://stock/gtk-go-forward-rtl?size=menu");
  --icon-go-next-rtl-24:					url("moz-icon://stock/gtk-go-forward-rtl?size=toolbar");
  --icon-go-next-rtl-16-dis:				url("moz-icon://stock/gtk-go-forward-rtl?size=menu&state=disabled");
  --icon-go-next-rtl-24-dis:				url("moz-icon://stock/gtk-go-forward-rtl?size=toolbar&state=disabled");
  --icon-go-next-rtl-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-go-previous-rtl-16:				url("moz-icon://stock/gtk-go-back-rtl?size=menu");
  --icon-go-previous-rtl-24:				url("moz-icon://stock/gtk-go-back-rtl?size=toolbar");
  --icon-go-previous-rtl-16-dis:			url("moz-icon://stock/gtk-go-back-rtl?size=menu&state=disabled");
  --icon-go-previous-rtl-24-dis:			url("moz-icon://stock/gtk-go-back-rtl?size=toolbar&state=disabled");
  --icon-go-previous-rtl-dis-opacity:		var(--icon-base-dis-native-opacity);

  --icon-go-top-16:							url("moz-icon://stock/gtk-goto-top?size=menu");
  --icon-go-top-16-dis:						url("moz-icon://stock/gtk-goto-top?size=menu&state=disabled");
  --icon-go-top-dis-opacity:				var(--icon-base-dis-native-opacity);

  --icon-go-up-16:							url("moz-icon://stock/gtk-go-up?size=menu");
  --icon-go-up-24:							url("moz-icon://stock/gtk-go-up?size=toolbar");
  --icon-go-up-16-dis:						url("moz-icon://stock/gtk-go-up?size=menu&state=disabled");
  --icon-go-up-24-dis:						url("moz-icon://stock/gtk-go-up?size=toolbar&state=disabled");
  --icon-go-up-dis-opacity:					var(--icon-base-dis-native-opacity);

  --icon-list-add-16:						url("moz-icon://stock/gtk-add?size=menu");
  --icon-list-add-22:						url("moz-icon://stock/gtk-add?size=button");
  --icon-list-add-16-dis:					url("moz-icon://stock/gtk-add?size=menu&state=disabled");
  --icon-list-add-22-dis:					url("moz-icon://stock/gtk-add?size=button&state=disabled");
  --icon-list-add-dis-opacity:				var(--icon-base-dis-native-opacity);

  --icon-list-remove-22:					url("moz-icon://stock/gtk-remove?size=button");
  --icon-list-remove-22-dis:				url("moz-icon://stock/gtk-remove?size=menu&state=disabled");
  --icon-list-remove-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-process-stop-16:					url("moz-icon://stock/gtk-stop?size=menu");
  --icon-process-stop-24:					url("moz-icon://stock/gtk-stop?size=toolbar");
  --icon-process-stop-16-dis:				url("moz-icon://stock/gtk-stop?size=menu&state=disabled");
  --icon-process-stop-24-dis:				url("moz-icon://stock/gtk-stop?size=toolbar&state=disabled");
  --icon-process-stop-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-tools-check-spelling-16:			url("moz-icon://stock/gtk-spell-check?size=menu");
  --icon-tools-check-spelling-24:			url("moz-icon://stock/gtk-spell-check?size=toolbar");
  --icon-tools-check-spelling-16-dis:		url("moz-icon://stock/gtk-spell-check?size=menu&state=disabled");
  --icon-tools-check-spelling-24-dis:		url("moz-icon://stock/gtk-spell-check?size=toolbar&state=disabled");
  --icon-tools-check-spelling-dis-opacity:	var(--icon-base-dis-native-opacity);

  --icon-view-fullscreen-16:				url("moz-icon://stock/gtk-fullscreen?size=menu");
  --icon-view-fullscreen-16-dis:			url("moz-icon://stock/gtk-fullscreen?size=menu&state=disabled");
  --icon-view-fullscreen-dis-opacity:		var(--icon-base-dis-native-opacity);

  --icon-view-refresh-16:					url("moz-icon://stock/gtk-refresh?size=menu");
  --icon-view-refresh-24:					url("moz-icon://stock/gtk-refresh?size=toolbar");
  --icon-view-refresh-16-dis:				url("moz-icon://stock/gtk-refresh?size=menu&state=disabled");
  --icon-view-refresh-24-dis:				url("moz-icon://stock/gtk-refresh?size=toolbar&state=disabled");
  --icon-view-refresh-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-view-restore-16:					url("moz-icon://stock/gtk-leave-fullscreen?size=menu");
  --icon-view-restore-16-dis:				url("moz-icon://stock/gtk-leave-fullscreen?size=menu&state=disabled");
  --icon-view-restore-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-window-close-16:					url("moz-icon://stock/gtk-close?size=menu");
  --icon-window-close-22:					url("moz-icon://stock/gtk-close?size=button");
  --icon-window-close-16-dis:				url("moz-icon://stock/gtk-close?size=menu&state=disabled");
  --icon-window-close-22-dis:				url("moz-icon://stock/gtk-close?size=button&state=disabled");
  --icon-window-close-dis-opacity:			var(--icon-base-dis-native-opacity);

/* Mimetypes */
  --icon-text-x-generic-16:					url("moz-icon://stock/gtk-file?size=menu");
  --icon-text-x-generic-16-dis:				url("moz-icon://stock/gtk-file?size=menu&state=disabled");
  --icon-text-x-generic-dis-opacity:		var(--icon-base-dis-native-opacity);

/* Places */
  --icon-folder-16:							url("moz-icon://stock/gtk-directory?size=menu");
  --icon-folder-24:							url("moz-icon://stock/gtk-directory?size=toolbar");
  --icon-folder-16-dis:						url("moz-icon://stock/gtk-directory?size=menu&state=disabled");
  --icon-folder-24-dis:						url("moz-icon://stock/gtk-directory?size=toolbar&state=disabled");
  --icon-folder-dis-opacity:				var(--icon-base-dis-native-opacity);

/* Status */
  --icon-dialog-error-16:					url("moz-icon://stock/gtk-dialog-error?size=menu");
  --icon-dialog-error-24:					url("moz-icon://stock/gtk-dialog-error?size=toolbar");
  --icon-dialog-error-48:					url("moz-icon://stock/gtk-dialog-error?size=dialog");
  --icon-dialog-error-16-dis:				url("moz-icon://stock/gtk-dialog-error?size=menu&state=disabled");
  --icon-dialog-error-24-dis:				url("moz-icon://stock/gtk-dialog-error?size=toolbar&state=disabled");
  --icon-dialog-error-48-dis:				url("moz-icon://stock/gtk-dialog-error?size=dialog&state=disabled");
  --icon-dialog-error-dis-opacity:			var(--icon-base-dis-native-opacity);

  --icon-dialog-information-16:				url("moz-icon://stock/gtk-dialog-info?size=menu");
  --icon-dialog-information-24:				url("moz-icon://stock/gtk-dialog-info?size=toolbar");
  --icon-dialog-information-48:				url("moz-icon://stock/gtk-dialog-info?size=dialog");
  --icon-dialog-information-16-dis:			url("moz-icon://stock/gtk-dialog-info?size=menu&state=disabled");
  --icon-dialog-information-24-dis:			url("moz-icon://stock/gtk-dialog-info?size=toolbar&state=disabled");
  --icon-dialog-information-48-dis:			url("moz-icon://stock/gtk-dialog-info?size=dialog&state=disabled");
  --icon-dialog-information-dis-opacity:	var(--icon-base-dis-native-opacity);

  --icon-dialog-question-16:				url("moz-icon://stock/gtk-dialog-question?size=menu");
  --icon-dialog-question-48:				url("moz-icon://stock/gtk-dialog-question?size=dialog");
  --icon-dialog-question-16-dis:			url("moz-icon://stock/gtk-dialog-question?size=menu&state=disabled");
  --icon-dialog-question-48-dis:			url("moz-icon://stock/gtk-dialog-question?size=dialog&state=disabled");
  --icon-dialog-question-dis-opacity:		var(--icon-base-dis-native-opacity);
}

