/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/common/calendar-unifinder.css);

.unifinder-closebutton {
    list-style-image: url("%STOCK-ICON gtk-close window-close 16") !important;
    padding: 2px !important;
    -moz-image-region: auto !important;
}

.unifinder-closebutton > .toolbarbutton-icon {
  margin: -2px !important;
}
