/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

#calsidebar_splitter,
#today-splitter {
  -moz-appearance: splitter !important;
  border-left: none !important;
  width: 6px !important;
  -moz-margin-end: 0 !important;
  transition: none !important;
}

#today-splitter {
  -moz-margin-start: 1px !important;
  -moz-margin-end: 1px !important;
}

#calsidebar_splitter:-moz-locale-dir(rtl),
#today-splitter:-moz-locale-dir(ltr) {
  border-right: 1px solid ThreeDShadow !important;
  border-left: 1px solid ThreeDShadow !important;
}

/* Calendar list rules */
#calendar-panel {
    padding-bottom: 5px !important;
}

/* iMIP notification bar */
#imip-bar > image {
    list-style-image: var(--icon-x-office-calendar-24) !important;
    -moz-image-region: auto !important;
}

/* ::::: tabs ::::: */

/* ::: new tab buttons ::: */
#calendar-tab-button,
.icon-holder[type="calendar"],
.tabmail-tab[type="calendar"] {
  list-style-image: var(--icon-x-office-calendar-16);
  -moz-image-region: auto !important;
}

#task-tab-button,
.icon-holder[type="tasks"],
.tabmail-tab[type="tasks"] {
  list-style-image: var(--icon-evolution-tasks-16);
  -moz-image-region: auto !important;
}

#calendar-tab-button,
#task-tab-button {
    margin-top: -2px !important;
    margin-bottom: -2px !important;
}

/* Lightning sidebar in calendar and task mode */
#ltnSidebar {
  border-right: 1px solid ThreeDShadow !important;
}

/* Today pane button in status bar */
#calendar-status-todaypane-button,
#calendar-status-todaypane-button[checked="true"] {
  margin: -2px 0 -2px !important;
  -moz-appearance: toolbarbutton !important;
}

#calendar-status-todaypane-button > stack > .toolbarbutton-icon-begin {
  margin-top: -3px !important;
  margin-bottom: -3px !important;
}

#calendar-status-todaypane-button > stack > .toolbarbutton-day-text {
  margin-top: 2px !important;
  margin-bottom: -4px !important;
}

/* shift the today pane button label up by one pixel to center it */
#calendar-status-todaypane-button > .toolbarbutton-text {
  margin: -3px 0 -2px !important;
}

#calendar-status-todaypane-button > .toolbarbutton-icon-end {
  -moz-appearance: button-arrow-up !important;
  margin-left: 0 !important;
  margin-top: -3px !important;
  margin-bottom: -2px !important;
}

#calendar-status-todaypane-button[checked="true"] > .toolbarbutton-icon-end {
  -moz-appearance: button-arrow-down !important;
}

#calMinimonthBox {
    margin-top: 3px !important;
}

#newMsgButton-calendar-menuitem > .menu-iconic-left > .menu-iconic-icon,
#newMsgButton-task-menuitem > .menu-iconic-left > .menu-iconic-icon {
  width: 16px !important;
  height: 16px !important;
  margin: 0px !important;
}

