/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Lightning "Calendar" Toolbarbutton */

#lightning-button-calendar {
  list-style-image: var(--icon-x-office-calendar-24);
}

#lightning-button-tasks {
  list-style-image: var(--icon-evolution-tasks-24);
}

#calendar-synchronize-button,
#task-synchronize-button {
  list-style-image: var(--icon-view-refresh-24);
}

#calendar-synchronize-button[disabled="true"],
#task-synchronize-button[disabled="true"] {
  list-style-image: var(--icon-view-refresh-24-dis);
  opacity: var(--icon-view-refresh-dis-opacity);
}

#extractEventButton,
#task-newevent-button,
#hdrExtractEventButton,
#calendar-newevent-button {
  list-style-image: var(--icon-appointment-new-24);
}

#extractEventButton[disabled="true"],
#task-newevent-button[disabled="true"],
#hdrExtractEventButton[disabled="true"],
#calendar-newevent-button[disabled="true"] {
  list-style-image: var(--icon-appointment-new-24-dis);
  opacity: var(--icon-appoitment-new-dis-opacity);
}

#extractTaskButton,
#task-newtask-button,
#hdrExtractTaskButton,
#calendar-newtask-button {
  list-style-image: var(--icon-stock_task-24);
}

#extractTaskButton[disabled="true"],
#task-newtask-button[disabled="true"],
#hdrExtractTaskButton[disabled="true"],
#calendar-newtask-button[disabled="true"] {
  list-style-image: var(--icon-stock_task-24-dis);
  opacity: var(--icon-stock_task-dis-opacity);
}

#calendar-edit-button,
#task-edit-button {
  list-style-image: var(--icon-gtk-edit-24);
}

#calendar-edit-button[disabled="true"],
#task-edit-button[disabled="true"] {
  list-style-image: var(--icon-gtk-edit-24-dis);
  opacity: var(--icon-gtk-edit-dis-opacity);
}

#calendar-delete-button,
#task-delete-button {
  list-style-image: var(--icon-edit-delete-24);
}

#calendar-delete-button[disabled="true"],
#task-delete-button[disabled="true"] {
  list-style-image: var(--icon-edit-delete-24-dis);
  opacity: var(--icon-edit-delete-dis-opacity);
}

#calendar-goto-today-button {
  list-style-image: var(--icon-go-today-24);
}

#calendar-goto-today-button[disabled="true"] {
  list-style-image: var(--icon-go-today-24-dis);
  opacity: var(--icon-go-today-dis-opacity);
}

#calendar-print-button,
#task-print-button {
  list-style-image: var(--icon-document-print-24);
}

#calendar-print-button[disabled="true"],
#task-print-button[disabled="true"] {
  list-style-image: var(--icon-document-print-24-dis);
  opacity: var(--icon-document-print-dis-opacity);
}

#calendar-unifinder-button {
  list-style-image: var(--icon-edit-find-24);
}

#calendar-unifinder-button[disabled="true"] {
  list-style-image: var(--icon-edit-find-24-dis);
  opacity: var(--icon-edit-find-dis-opacity);
}

toolbar[iconsize="small"] #lightning-button-calendar {
  list-style-image: var(--icon-x-office-calendar-16);
}

toolbar[iconsize="small"] #lightning-button-tasks {
  list-style-image: var(--icon-evolution-tasks-16);
}

toolbar[iconsize="small"] #calendar-synchronize-button,
toolbar[iconsize="small"] #task-synchronize-button {
  list-style-image: var(--icon-view-refresh-16);
}

toolbar[iconsize="small"] #calendar-synchronize-button[disabled="true"],
toolbar[iconsize="small"] #task-synchronize-button[disabled="true"] {
  list-style-image: var(--icon-view-refresh-16-dis);
  opacity: var(--icon-view-refresh-dis-opacity);
}

toolbar[iconsize="small"] #extractEventButton,
toolbar[iconsize="small"] #task-newevent-button,
toolbar[iconsize="small"] #hdrExtractEventButton,
toolbar[iconsize="small"] #calendar-newevent-button {
  list-style-image: var(--icon-appointment-new-16);
}

toolbar[iconsize="small"] #extractEventButton[disabled="true"],
toolbar[iconsize="small"] #task-newevent-button[disabled="true"],
toolbar[iconsize="small"] #hdrExtractEventButton[disabled="true"],
toolbar[iconsize="small"] #calendar-newevent-button[disabled="true"] {
  list-style-image: var(--icon-appointment-new-16-dis);
  opacity: var(--icon-appoitment-new-dis-opacity);
}

toolbar[iconsize="small"] #extractTaskButton,
toolbar[iconsize="small"] #task-newtask-button,
toolbar[iconsize="small"] #hdrExtractTaskButton,
toolbar[iconsize="small"] #calendar-newtask-button {
  list-style-image: var(--icon-stock_task-16);
}

toolbar[iconsize="small"] #extractTaskButton[disabled="true"],
toolbar[iconsize="small"] #task-newtask-button[disabled="true"],
toolbar[iconsize="small"] #hdrExtractTaskButton[disabled="true"],
toolbar[iconsize="small"] #calendar-newtask-button[disabled="true"] {
  list-style-image: var(--icon-stock_task-16-dis);
  opacity: var(--icon-stock_task-dis-opacity);
}

toolbar[iconsize="small"] #calendar-edit-button,
toolbar[iconsize="small"] #task-edit-button {
  list-style-image: var(--icon-gtk-edit-16);
}

toolbar[iconsize="small"] #calendar-edit-button[disabled="true"],
toolbar[iconsize="small"] #task-edit-button[disabled="true"] {
  list-style-image: var(--icon-gtk-edit-16-dis);
  opacity: var(--icon-gtk-edit-dis-opacity);
}

toolbar[iconsize="small"] #calendar-delete-button,
toolbar[iconsize="small"] #task-delete-button {
  list-style-image: var(--icon-edit-delete-16);
}

toolbar[iconsize="small"] #calendar-delete-button[disabled="true"],
toolbar[iconsize="small"] #task-delete-button[disabled="true"] {
  list-style-image: var(--icon-edit-delete-16-dis);
  opacity: var(--icon-edit-delete-dis-opacity);
}

toolbar[iconsize="small"] #calendar-goto-today-button {
  list-style-image: var(--icon-go-today-16);
}

toolbar[iconsize="small"] #calendar-goto-today-button[disabled="true"] {
  list-style-image: var(--icon-go-today-16-dis);
  opacity: var(--icon-go-today-dis-opacity);
}

toolbar[iconsize="small"] #calendar-print-button,
toolbar[iconsize="small"] #task-print-button {
  list-style-image: var(--icon-document-print-16);
}

toolbar[iconsize="small"] #calendar-print-button[disabled="true"],
toolbar[iconsize="small"] #task-print-button[disabled="true"] {
  list-style-image: var(--icon-document-print-16-dis);
  opacity: var(--icon-document-print-dis-opacity);
}

toolbar[iconsize="small"] #calendar-unifinder-button {
  list-style-image: var(--icon-edit-find-16);
}

toolbar[iconsize="small"] #calendar-unifinder-button[disabled="true"] {
  list-style-image: var(--icon-edit-find-16-dis);
  opacity: var(--icon-edit-find-dis-opacity);
}

