/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*--------------------------------------------------------------------
 *   Cut button
 *-------------------------------------------------------------------*/

#calendar-cut-button {
    list-style-image: var(--icon-edit-cut-24);
}

#calendar-cut-button[disabled="true"] {
    list-style-image: var(--icon-edit-cut-24-dis);
    opacity: var(--icon-edit-cut-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Cut button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-cut-button {
    list-style-image: var(--icon-edit-cut-16);
}

toolbar[iconsize="small"] #calendar-cut-button[disabled="true"] {
    list-style-image: var(--icon-edit-cut-16-dis);
    opacity: var(--icon-edit-cut-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Copy button
 *-------------------------------------------------------------------*/

#calendar-copy-button {
    list-style-image: var(--icon-edit-copy-24);
}

#calendar-copy-button[disabled="true"] {
    list-style-image: var(--icon-edit-copy-24-dis);
    opacity: var(--icon-edit-copy-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Copy button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-copy-button {
    list-style-image: var(--icon-edit-copy-16);
}

toolbar[iconsize="small"] #calendar-copy-button[disabled="true"] {
    list-style-image: var(--icon-edit-copy-16-dis);
    opacity: var(--icon-edit-copy-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Paste button
 *-------------------------------------------------------------------*/

#calendar-paste-button {
    list-style-image: var(--icon-edit-paste-24);
}

#calendar-paste-button[disabled="true"] {
    list-style-image: var(--icon-edit-paste-24-dis);
    opacity: var(--icon-edit-paste-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Paste button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-paste-button {
    list-style-image: var(--icon-edit-paste-16);
}

toolbar[iconsize="small"] #calendar-paste-button[disabled="true"] {
    list-style-image: var(--icon-edit-paste-16-dis);
    opacity: var(--icon-edit-paste-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Choose date button
 *-------------------------------------------------------------------*/

#calendar-choose-date-button {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-large.png");
    -moz-image-region: rect(0px 432px 24px 408px);
}

#calendar-choose-date-button[disabled="true"] {
    -moz-image-region: rect(48px 432px 72px 408px) !important;
}

/*--------------------------------------------------------------------
 *   Choose date button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-choose-date-button {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-small.png");
    -moz-image-region: rect(0px 288px 16px 272px);
}

toolbar[iconsize="small"] #calendar-choose-date-button[disabled="true"] {
    -moz-image-region: rect(32px 288px 48px 272px) !important;
}

/*--------------------------------------------------------------------
 *   delete event button
 *-------------------------------------------------------------------*/

#calendar-delete-button {
    list-style-image: var(--icon-edit-delete-24);
}

#calendar-delete-button[disabled="true"] {
    list-style-image: var(--icon-edit-delete-24-dis);
    opacity: var(--icon-edit-delete-dis-opacity);
}

/*--------------------------------------------------------------------
 *   delete event button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-delete-button {
    list-style-image: var(--icon-edit-delete-16);
}

toolbar[iconsize="small"] #calendar-delete-button[disabled="true"] {
    list-style-image: var(--icon-edit-delete-16-dis);
    opacity: var(--icon-edit-delete-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Print button
 *-------------------------------------------------------------------*/

#calendar-print-button {
    list-style-image: var(--icon-document-print-24);
}

#calendar-print-button[disabled="true"] {
    list-style-image: var(--icon-document-print-24-dis);
    opacity: var(--icon-document-print-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Print button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-print-button {
    list-style-image: var(--icon-document-print-16);
}

toolbar[iconsize="small"] #calendar-print-button[disabled="true"] {
    list-style-image: var(--icon-document-print-16-dis);
    opacity: var(--icon-document-print-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Go To Today button
 *-------------------------------------------------------------------*/

#calendar-go-to-today-button {
  list-style-image: var(--icon-go-today-24);
}

#calendar-go-to-today-button[disabled="true"] {
    list-style-image: var(--icon-go-today-24-dis);
    opacity: var(--icon-go-today-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Go To Today button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-go-to-today-button {
  list-style-image: var(--icon-go-today-16);
}

toolbar[iconsize="small"] #calendar-go-to-today-button[disabled="true"] {
    list-style-image: var(--icon-go-today-16-dis);
    opacity: var(--icon-go-today-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Remote Reload button
 *-------------------------------------------------------------------*/

#calendar-remote-reload-button {
  list-style-image: var(--icon-view-refresh-24);
}

#calendar-remote-reload-button[disabled="true"] {
    list-style-image: var(--icon-view-refresh-24-dis);
    opacity: var(--icon-view-refresh-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Remote Reload button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-remote-reload-button {
  list-style-image: var(--icon-view-refresh-16);
}

toolbar[iconsize="small"] #calendar-remote-reload-button[disabled="true"] {
    list-style-image: var(--icon-view-refresh-16-dis);
    opacity: var(--icon-view-refresh-dis-opacity);
}

/*--------------------------------------------------------------------
 *   new event button
 *-------------------------------------------------------------------*/

#calendar-new-event-button {
  list-style-image: var(--icon-appointment-new-24);
}

#calendar-new-event-button[disabled="true"] {
  list-style-image: var(--icon-appointment-new-24-dis);
  opacity: var(--icon-appoitment-new-dis-opacity);
}

/*--------------------------------------------------------------------
 *   new event button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-new-event-button {
  list-style-image: var(--icon-appointment-new-16);
}

toolbar[iconsize="small"] #calendar-new-event-button[disabled="true"] {
  list-style-image: var(--icon-appointment-new-16-dis);
  opacity: var(--icon-appoitment-new-dis-opacity);
}

/*--------------------------------------------------------------------
 *   New Task button
 *-------------------------------------------------------------------*/

#calendar-new-task-button {
  list-style-image: var(--icon-stock_task-24);
}

#calendar-new-task-button[disabled="true"] {
  list-style-image: var(--icon-stock_task-24-dis);
  opacity: var(--icon-stock_task-dis-opacity);
}

/*--------------------------------------------------------------------
 *   New Task button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-new-task-button {
  list-style-image: var(--icon-stock_task-16);
}

toolbar[iconsize="small"] #calendar-new-task-button[disabled="true"] {
  list-style-image: var(--icon-stock_task-16-dis);
  opacity: var(--icon-stock_task-dis-opacity);
}

/*--------------------------------------------------------------------
 *   edit event button
 *-------------------------------------------------------------------*/

#calendar-edit-button {
  list-style-image: var(--icon-gtk-edit-24);
}

#calendar-edit-button[disabled="true"] {
  list-style-image: var(--icon-gtk-edit-24-dis);
  opacity: var(--icon-gtk-edit-dis-opacity);
}

/*--------------------------------------------------------------------
 *   edit event button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-edit-button {
  list-style-image: var(--icon-gtk-edit-16);
}

toolbar[iconsize="small"] #calendar-edit-button[disabled="true"] {
  list-style-image: var(--icon-gtk-edit-16-dis);
  opacity: var(--icon-gtk-edit-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Unifinder button
 *-------------------------------------------------------------------*/

#calendar-unifinder-button {
  list-style-image: var(--icon-edit-find-24);
}

#calendar-unifinder-button[disabled="true"] {
  list-style-image: var(--icon-edit-find-24-dis);
  opacity: var(--icon-edit-find-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Unifinder button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-unifinder-button {
  list-style-image: var(--icon-edit-find-16);
}

toolbar[iconsize="small"] #calendar-unifinder-button[disabled="true"] {
  list-style-image: var(--icon-edit-find-16-dis);
  opacity: var(--icon-edit-find-dis-opacity);
}

/*--------------------------------------------------------------------
 *   Import button
 *-------------------------------------------------------------------*/

#calendar-import-button {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-large.png");
    -moz-image-region: rect(0px 264px 24px 240px);
}

#calendar-import-button[disabled="true"] {
    -moz-image-region: rect(48px 264px 72px 240px) !important;
}

/*--------------------------------------------------------------------
 *   Import button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-import-button {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-small.png");
    -moz-image-region: rect(0px 176px 16px 160px);
}

toolbar[iconsize="small"] #calendar-import-button[disabled="true"] {
    -moz-image-region: rect(32px 176px 48px 160px) !important;
}

/*--------------------------------------------------------------------
 *   Export button
 *-------------------------------------------------------------------*/

#calendar-export-button {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-large.png");
    -moz-image-region: rect(0px 288px 24px 264px);
}

#calendar-export-button[disabled="true"] {
    -moz-image-region: rect(48px 288px 72px 264px) !important;
}

/*--------------------------------------------------------------------
 *   Export button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-export-button {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-small.png");
    -moz-image-region: rect(0px 192px 16px 176px);
}

toolbar[iconsize="small"] #calendar-export-button[disabled="true"] {
    -moz-image-region: rect(32px 192px 48px 176px) !important;
}

/*--------------------------------------------------------------------
 *   Subscribe button
 *-------------------------------------------------------------------*/

#calendar-subscribe-button {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-large.png");
    -moz-image-region: rect(0px 312px 24px 288px);
}

#calendar-subscribe-button[disabled="true"] {
    -moz-image-region: rect(48px 312px 72px 288px) !important;
}

/*--------------------------------------------------------------------
 *   Subscribe button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-subscribe-button {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-small.png");
    -moz-image-region: rect(0px 208px 16px 192px);
}

toolbar[iconsize="small"] #calendar-subscribe-button[disabled="true"] {
    -moz-image-region: rect(32px 208px 48px 192px) !important;
}

/*--------------------------------------------------------------------
 *   Publish button
 *-------------------------------------------------------------------*/

#calendar-publish-button {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-large.png");
    -moz-image-region: rect(0px 336px 24px 312px);
}

#calendar-publish-button[disabled="true"] {
    -moz-image-region: rect(48px 336px 72px 312px) !important;
}

/*--------------------------------------------------------------------
 *   Publish button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-publish-button {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-small.png");
    -moz-image-region: rect(0px 224px 16px 208px);
}

toolbar[iconsize="small"] #calendar-publish-button[disabled="true"] {
    -moz-image-region: rect(32px 224px 48px 208px) !important;
}

/*--------------------------------------------------------------------
 *   Multiweek button
 *-------------------------------------------------------------------*/

#calendar-multiweek-view-tbutton {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-large.png");
    -moz-image-region: rect(0px 144px 24px 120px);
}

#calendar-multiweek-view-tbutton[disabled="true"] {
    -moz-image-region: rect(72px 144px 96px 120px);
}

/*--------------------------------------------------------------------
 *   Multiweek button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-multiweek-view-tbutton {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-small.png");
    -moz-image-region: rect(0px 96px 16px 80px);
}

toolbar[iconsize="small"] #calendar-multiweek-view-tbutton[disabled="true"] {
    -moz-image-region: rect(48px 96px 64px 80px);
}

/*--------------------------------------------------------------------
 *   Month button
 *-------------------------------------------------------------------*/

#calendar-month-view-tbutton {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-large.png");
    -moz-image-region: rect(0px 168px 24px 144px);
}

#calendar-month-view-tbutton[disabled="true"] {
    -moz-image-region: rect(72px 168px 96px 144px);
}

/*--------------------------------------------------------------------
 *   Month button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-month-view-tbutton {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-small.png");
    -moz-image-region: rect(0px 112px 16px 96px);
}

toolbar[iconsize="small"] #calendar-month-view-tbutton[disabled="true"] {
    -moz-image-region: rect(48px 112px 64px 96px);
}

/*--------------------------------------------------------------------
 *   Week button
 *-------------------------------------------------------------------*/

#calendar-week-view-tbutton {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-large.png");
    -moz-image-region: rect(0px 120px 24px 96px);
}

#calendar-week-view-tbutton[disabled="true"] {
    -moz-image-region: rect(72px 120px 96px 96px);
}

/*--------------------------------------------------------------------
 *   Week button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-week-view-tbutton {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-small.png");
    -moz-image-region: rect(0px 80px 16px 64px);
}

toolbar[iconsize="small"] #calendar-week-view-tbutton[disabled="true"] {
    -moz-image-region: rect(48px 80px 64px 64px);
}

/*--------------------------------------------------------------------
 *   Day button
 *-------------------------------------------------------------------*/

#calendar-day-view-tbutton {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-large.png");
    -moz-image-region: rect(0px 96px 24px 72px);
}

#calendar-day-view-tbutton[disabled="true"] {
    -moz-image-region: rect(72px 96px 96px 72px);
}

/*--------------------------------------------------------------------
 *   Day button - small
 *-------------------------------------------------------------------*/

toolbar[iconsize="small"] #calendar-day-view-tbutton {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-small.png");
    -moz-image-region: rect(0px 64px 16px 48px);
}

toolbar[iconsize="small"] #calendar-day-view-tbutton[disabled="true"] {
    -moz-image-region: rect(48px 64px 64px 48px);
}
