/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== button.css =====================================================
  == Styles used by the XUL button element.
  ======================================================================= */

@import url("chrome://icons/skin/icon-theme-default.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* :::::::::: button :::::::::: */

button {
  -moz-appearance: button;
  margin: 1px 5px 2px 5px;
  min-width: 6.3em;
  border: 3px solid;
  -moz-border-top-colors: transparent ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: transparent ThreeDHighlight ThreeDLightShadow;
  background-color: ThreeDFace;
  color: ButtonText;
  text-shadow: none;
}

.button-box {
  -moz-appearance: button-focus;
  border: 1px solid transparent;
  padding-top: 1px;
  padding-bottom: 2px;
  -moz-padding-start: 3px;
  -moz-padding-end: 4px;
}

.button-icon {
  -moz-margin-end: 2px;
}

.button-text {
  margin: 0 !important;
  text-align: center;
}

/* .......... focused state .......... */

button:focus {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDHighlight transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDHighlight transparent;
}

button:focus > .button-box {
  border: 1px dotted ThreeDDarkShadow;
}

/* .......... default state .......... */

button[default="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDHighlight ThreeDLightShadow;
}

/* .......... hover state .......... */

button:hover {
  color: -moz-buttonhovertext;
  background-color: -moz-buttonhoverface;
}

/* .......... active/open/checked state .......... */

button:hover:active,
button[open="true"],
button[checked="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow transparent;
  color: ButtonText;
}

button:hover:active > .button-box,
button[open="true"] > .button-box,
button[checked="true"] > .button-box {
  padding-top: 2px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 3px;
}

/* .......... disabled state .......... */

button[disabled="true"],
button[disabled="true"]:hover:active {
  -moz-border-top-colors: transparent ThreeDHighlight ThreeDLightShadow !important;
  -moz-border-right-colors: transparent ThreeDDarkShadow ThreeDShadow !important;
  -moz-border-bottom-colors: transparent ThreeDDarkShadow ThreeDShadow !important;
  -moz-border-left-colors: transparent ThreeDHighlight ThreeDLightShadow !important;
  color: GrayText;
}

button[disabled="true"] > .button-box {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  -moz-padding-start: 3px !important;
  -moz-padding-end: 4px !important;
}

/* ::::: menu/menu-button buttons ::::: */

button[type="menu-button"] {
  -moz-appearance: dualbutton;
}

.button-menubutton-button {
  margin: 0;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
  -moz-appearance: toolbarbutton-dropdown !important;
}

.button-menubutton-dropmarker {
  -moz-margin-end: 3px;
}

/* ::::: plain buttons ::::: */

button.plain {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

button[type="disclosure"] {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  -moz-appearance: none;
  list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
  min-width: 0px !important;
  background-color: transparent;
}

button[type="disclosure"][open="true"] {
  list-style-image: url("chrome://global/skin/tree/twisty-open.png"); 
}

/*
 * GNOME Stock Icon Styles
 */

button[icon="accept"] {
  list-style-image: var(--icon-gtk-ok-22);
}

button[icon="accept"][disabled="true"] {
  list-style-image: var(--icon-gtk-ok-22-dis);
}

button[icon="cancel"] {
  list-style-image: var(--icon-gtk-cancel-22);
}

button[icon="cancel"][disabled="true"] {
  list-style-image: var(--icon-gtk-cancel-22-dis);
}

button[icon="help"] {
  list-style-image: var(--icon-help-contents-22);
}

button[icon="help"][disabled="true"] {
  list-style-image: var(--icon-help-contents-22-dis);
}

button[icon="open"] {
  list-style-image: var(--icon-document-open-22);
}

button[icon="open"][disabled="true"] {
  list-style-image: var(--icon-document-open-22-dis);
}

button[icon="save"] {
  list-style-image: var(--icon-document-save-22);
}

button[icon="save"][disabled="true"] {
  list-style-image: var(--icon-document-save-22-dis);
}

button[icon="find"] {
  list-style-image: var(--icon-edit-find-22);
}

button[icon="find"][disabled="true"] {
  list-style-image: var(--icon-edit-find-22-dis);
}

button[icon="clear"] {
  list-style-image: var(--icon-edit-clear-22);
}

button[icon="clear"][disabled="true"] {
  list-style-image: var(--icon-edit-clear-22-dis);
}

button[icon="yes"] {
  list-style-image: var(--icon-gtk-yes-22);
}

button[icon="yes"][disabled="true"] {
  list-style-image: var(--icon-gtk-yes-22-dis);
}

button[icon="no"] {
  list-style-image: var(--icon-gtk-no-22);
}

button[icon="no"][disabled="true"] {
  list-style-image: var(--icon-gtk-no-22-dis);
}

button[icon="apply"] {
  list-style-image: var(--icon-gtk-apply-22);
}

button[icon="apply"][disabled="true"] {
  list-style-image: var(--icon-gtk-apply-22-dis);
}

button[icon="close"] {
  list-style-image: var(--icon-window-close-22);
}

button[icon="close"][disabled="true"] {
  list-style-image: var(--icon-window-close-22-dis);
}

button[icon="print"] {
  list-style-image: var(--icon-document-print-22);
}

button[icon="print"][disabled="true"] {
  list-style-image: var(--icon-document-print-22-dis);
}

button[icon="add"] {
  list-style-image: var(--icon-list-add-22);
}

button[icon="add"][disabled="true"] {
  list-style-image: var(--icon-list-add-22-dis);
}

button[icon="remove"] {
  list-style-image: var(--icon-list-remove-22);
}

button[icon="remove"][disabled="true"] {
  list-style-image: var(--icon-list-remove-22-dis);
}

button[icon="refresh"] {
  list-style-image: var(--icon-view-refresh-22);
}

button[icon="refresh"][disabled="true"] {
  list-style-image: var(--icon-view-refresh-22-dis);
}

button[icon="revert"] {
  list-style-image: var(--icon-document-revert-22);
}

button[icon="revert"][disabled="true"] {
  list-style-image: var(--icon-document-revert-22-dis);
}

button[icon="revert"]:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-document-revert-rtl-22);
}

button[icon="revert"]:-moz-locale-dir(rtl)[disabled="true"] {
  list-style-image: var(--icon-document-revert-rtl-22-dis);
}

button[icon="go-forward"] {
  list-style-image: var(--icon-go-next-22);
}

button[icon="go-forward"][disabled="true"] {
  list-style-image: var(--icon-go-next-22-dis);
}

button[icon="go-forward"]:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-22);
}

button[icon="go-forward"]:-moz-locale-dir(rtl)[disabled="true"] {
  list-style-image: var(--icon-go-next-rtl-22-dis);
}

button[icon="go-back"] {
  list-style-image: var(--icon-go-previous-22);
}

button[icon="go-back"][disabled="true"] {
  list-style-image: var(--icon-go-previous-22-dis);
}

button[icon="go-back"]:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-22);
}

button[icon="go-back"]:-moz-locale-dir(rtl)[disabled="true"] {
  list-style-image: var(--icon-go-previous-rtl-22-dis);
}

button[icon="properties"] {
  list-style-image: var(--icon-document-properties-22);
}

button[icon="properties"][disabled="true"] {
  list-style-image: var(--icon-document-properties-22-dis);
}

button[icon="select-font"] {
  list-style-image: var(--icon-gtk-select-font-22);
}

button[icon="select-font"][disabled="true"] {
  list-style-image: var(--icon-gtk-select-font-22-dis);
}

button[icon="select-color"] {
  list-style-image: var(--icon-gtk-color-picker-22);
}

button[icon="select-color"][disabled="true"] {
  list-style-image: var(--icon-gtk-color-picker-22-dis);
}

button[icon="network"] {
  list-style-image: var(--icon-network-idle-22);
}

button[icon="network"][disabled="true"] {
  list-style-image: var(--icon-network-idle-22-dis);
}
