/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

/* ..... page navigation ..... */

.home-arrow {
  list-style-image: var(--icon-go-first-16);
}

.home-arrow:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-first-rtl-16);
}

.end-arrow {
  list-style-image: var(--icon-go-last-16);
}

.end-arrow:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-last-rtl-16);
}

.previous-arrow {
  list-style-image: var(--icon-go-previous-16);
}

.previous-arrow:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-16);
}

.next-arrow {
  list-style-image: var(--icon-go-next-16);
}

.next-arrow:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-16);
}

/* ..... orientation ..... */

.toolbar-portrait-page {
  list-style-image: var(--icon-gtk-orientation-portrait-22);
}

.toolbar-landscape-page {
  list-style-image: var(--icon-gtk-orientation-landscape-22);
}
