@import url("chrome://icons/skin/icon-theme-default.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/************ IDENTITY BOX ************/

#identity-box {
  margin: 0px;
}
#identity-box[level],
#identity-box[src="chrome://global/skin/icons/blacklist_favicon.png"],
#identity-box[src="chrome://global/skin/icons/warning-16.png"] {
  border-right:1px solid ThreeDShadow;
}

#identity-box[level][showing="true"],
#identity-box[src="chrome://global/skin/icons/blacklist_favicon.png"][showing="true"],
#identity-box[src="chrome://global/skin/icons/warning-16.png"][showing="true"] {
  border-left:1px solid ThreeDShadow;
}

#identity-icon-label {
  margin: 4px 3px 2px 3px;
  color: white;
}
#identity-icon-lock {
  margin: 2px 3px 3px 0px;
}

/* space between identity box and url */
#identity-box[src="chrome://global/skin/icons/blacklist_favicon.png"],
#identity-box[src="chrome://global/skin/icons/warning-16.png"],
#identity-box[level] {
  -moz-margin-end: 4px;
}

.notification-anchor-icon[showing="true"] {
  -moz-margin-end: 3px!important;
}

/* Verified Identity */
#identity-box[level="high"][label] {
  background-color: rgba(50, 150, 50, 0.8) !important;
}

/* Signed Identity */
#identity-box[level="high"]:not([label]) {
  background-color: rgba(30, 80, 170, 0.7) !important;
}

/* Untrusted Connection */
#urlbar #identity-box[src="chrome://global/skin/icons/warning-16.png"]:hover,
#urlbar #identity-box[src="chrome://global/skin/icons/warning-16.png"]:hover:active {
  background-color:rgb(250,220,100) !important
}

/* Broken/Partially Encrypted SSL */
#identity-box[level="broken"]:hover,
#identity-box[level="broken"]:hover:active {
  background-color:rgb(250,220,100) !important;
}

#identity-box[level="high"][label]:hover,
#identity-box[level="high"]:not([label]):hover,
#urlbar #identity-box[src="chrome://global/skin/icons/blacklist_favicon.png"]:hover,
#urlbar #identity-box[src="chrome://global/skin/icons/warning-16.png"]:hover,
#identity-box[level="broken"]:hover {
  background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, .2),
    rgba(255, 255, 255, .2));
}

#identity-box[level="high"][label]:hover:active,
#identity-box[level="high"]:not([label]):hover:active,
#urlbar #identity-box[src="chrome://global/skin/icons/blacklist_favicon.png"]:hover:active,
#urlbar #identity-box[src="chrome://global/skin/icons/warning-16.png"]:hover:active,
#identity-box[level="broken"]:hover:active {
  background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, .1),
    rgba(0, 0, 0, .1));
}

/************ URLBAR ************/

#urlbar .urlbar-security-level[level="high"] {
  background-color: transparent;
  color: inherit!important;
}

/************* GO BUTTON **************/

#urlbar-go-button {
  list-style-image: url("Go-arrow.png");
  -moz-image-region: auto !important;
  padding: 2px 0px !important;
}


/************** TAB CLOSERS ************/

.tab-close-button {
  -moz-appearance: toolbarbutton !important;
  list-style-image: var(--icon-window-close-16);
  -moz-image-region: auto !important;
  margin: -2px !important;
}

.tab-close-button .toolbarbutton-icon {
  margin: -4px !important;
}

/* menus */

#menu_pageInfoCmd_seafox {
  list-style-image: var(--icon-document-properties-16);
}

#menu_pageInfoCmd_seafox[disabled="true"] {
  list-style-image: var(--icon-document-properties-16-dis);
}

