@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*************** TOOLBAR BUTTONS ***************/

#seafox-newwindow-button {
  list-style-image: var(--icon-window-new-24);
}

#seafox-newwindow-button[disabled="true"] {
  list-style-image: var(--icon-window-new-24-dis);
  opacity: var(--icon-window-new-dis-opacity);
}

#seafox-newtab-button {
  list-style-image: var(--icon-tab-new-24);
}

#seafox-newtab-button[disabled="true"] {
  list-style-image: var(--icon-tab-new-24-dis);
  opacity: var(--icon-tab-new-dis-opacity);
}

#seafox-paste-button {
  list-style-image: var(--icon-edit-paste-24);
}

#seafox-paste-button[disabled="true"] {
  list-style-image: var(--icon-edit-paste-24-dis);
  opacity: var(--icon-edit-paste-dis-opacity);
}

#seafox-copy-button {
  list-style-image: var(--icon-edit-copy-24);
}

#seafox-copy-button[disabled="true"] {
  list-style-image: var(--icon-edit-copy-24-dis);
  opacity: var(--icon-edit-copy-dis-opacity);
}

#seafox-cut-button {
  list-style-image: var(--icon-edit-cut-24);
}

#seafox-cut-button[disabled="true"] {
  list-style-image: var(--icon-edit-cut-24-dis);
  opacity: var(--icon-edit-cut-dis-opacity);
}

#seafox-sidebar-button {
  list-style-image: url("sidebar.png");
}

#seafox-downloads-button {
  list-style-image: url("downloads.png");
}

toolbar[iconsize="small"] #seafox-newwindow-button {
  list-style-image: var(--icon-window-new-16);
}

toolbar[iconsize="small"] #seafox-newwindow-button[disabled="true"] {
  list-style-image: var(--icon-window-new-16-dis);
  opacity: var(--icon-window-new-dis-opacity);
}

toolbar[iconsize="small"] #seafox-newtab-button {
  list-style-image: var(--icon-tab-new-16);
}

toolbar[iconsize="small"] #seafox-newtab-button[disabled="true"] {
  list-style-image: var(--icon-tab-new-16-dis);
  opacity: var(--icon-tab-new-dis-opacity);
}

toolbar[iconsize="small"] #seafox-paste-button {
  list-style-image: var(--icon-edit-paste-16);
}

toolbar[iconsize="small"] #seafox-paste-button[disabled="true"] {
  list-style-image: var(--icon-edit-paste-16-dis);
  opacity: var(--icon-edit-paste-dis-opacity);
}

toolbar[iconsize="small"] #seafox-copy-button {
  list-style-image: var(--icon-edit-copy-16);
}

toolbar[iconsize="small"] #seafox-copy-button[disabled="true"] {
  list-style-image: var(--icon-edit-copy-16-dis);
  opacity: var(--icon-edit-copy-dis-opacity);
}

toolbar[iconsize="small"] #seafox-cut-button {
  list-style-image: var(--icon-edit-cut-16);
}

toolbar[iconsize="small"] #seafox-cut-button[disabled="true"] {
  list-style-image: var(--icon-edit-cut-16-dis);
  opacity: var(--icon-edit-cut-dis-opacity);
}

toolbar[iconsize="small"]  #seafox-sidebar-button {
  list-style-image: url("sidebar-small.png");
}

toolbar[iconsize="small"] #seafox-downloads-button {
  list-style-image: url("downloads-small.png");
}
