@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*************** TOOLBAR BUTTONS ***************/

#seafox-newwindow-button {
  list-style-image: url("newwindow.png");
}
#seafox-newtab-button {
  list-style-image: url("newtab.png");
}
#seafox-paste-button {
  list-style-image: var(--icon-edit-paste-24);
}
#seafox-paste-button[disabled="true"] {
  list-style-image: var(--icon-edit-paste-24-dis);
  opacity: var(--icon-edit-paste-dis-opacity);
}
#seafox-copy-button {
  list-style-image: var(--icon-edit-copy-24);
}
#seafox-copy-button[disabled="true"] {
  list-style-image: var(--icon-edit-copy-24-dis);
  opacity: var(--icon-edit-copy-dis-opacity);
}
#seafox-cut-button {
  list-style-image: var(--icon-edit-cut-24);
}
#seafox-cut-button[disabled="true"] {
  list-style-image: var(--icon-edit-cut-24-dis);
  opacity: var(--icon-edit-cut-dis-opacity);
}
#seafox-sidebar-button {
  list-style-image: url("sidebar.png");
}
#seafox-downloads-button {
  list-style-image: url("downloads.png");
}

toolbar[iconsize="small"] > toolbarpaletteitem > #seafox-newwindow-button,
toolbar[iconsize="small"] > #seafox-newwindow-button {
  list-style-image: url("newwindow-small.png");
}
toolbar[iconsize="small"] > toolbarpaletteitem > #seafox-newtab-button,
toolbar[iconsize="small"] > #seafox-newtab-button {
  list-style-image: url("newtab-small.png");
}
toolbar[iconsize="small"] > toolbarpaletteitem > #seafox-paste-button,
toolbar[iconsize="small"] > #seafox-paste-button {
  list-style-image: var(--icon-edit-paste-16);
}
toolbar[iconsize="small"] > #seafox-paste-button[disabled="true"] {
  list-style-image: var(--icon-edit-paste-16-dis);
}
toolbar[iconsize="small"] > toolbarpaletteitem > #seafox-copy-button,
toolbar[iconsize="small"] > #seafox-copy-button {
  list-style-image: var(--icon-edit-copy-16);
}
toolbar[iconsize="small"] > #seafox-copy-button[disabled="true"] {
  list-style-image: var(--icon-edit-copy-16-dis);
}
toolbar[iconsize="small"] > toolbarpaletteitem > #seafox-cut-button,
toolbar[iconsize="small"] > #seafox-cut-button {
  list-style-image: var(--icon-edit-cut-16);
}
toolbar[iconsize="small"] > #seafox-cut-button[disabled="true"] {
  list-style-image: var(--icon-edit-cut-16-dis);
}
toolbar[iconsize="small"] > toolbarpaletteitem > #seafox-sidebar-button,
toolbar[iconsize="small"] > #seafox-sidebar-button {
  list-style-image: url("sidebar-small.png");
}
toolbar[iconsize="small"] > toolbarpaletteitem > #seafox-downloads-button,
toolbar[iconsize="small"] > #seafox-downloads-button {
  list-style-image: url("downloads-small.png");
}
