/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messengercompose.css ===========================================
  == Styles for the main Messenger Compose window.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar buttons ::::: */

#button-send {
  list-style-image: url("%CUSTOM-ICON mail-send 24");
}

#button-send[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON mail-send 24 disabled");
  opacity: %DISABLED-OPACITY !important;
} 

#button-address {
  list-style-image: url("%CUSTOM-ICON x-office-address-book 24");
}

#button-address[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON x-office-address-book 24 disabled");
  opacity: %DISABLED-OPACITY !important;
} 

#button-attach {
  list-style-image: url("%CUSTOM-ICON mail-attachment 24");
}

#button-attach[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON mail-attachment 24 disabled");
  opacity: %DISABLED-OPACITY !important;
} 

#spellingButton {
  list-style-image: var(--icon-tools-check-spelling-24);
}

#spellingButton[disabled="true"] {
  list-style-image: var(--icon-tools-check-spelling-24-dis);
  opacity: var(--icon-tools-check-spelling-dis-opacity);
}

#button-save {
  list-style-image: var(--icon-document-save-24);
}

#button-save[disabled="true"] {
  list-style-image: var(--icon-document-save-24-dis);
  opacity: var(--icon-document-save-dis-opacity);
} 

/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] > #button-send,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-send {
  list-style-image: url("%CUSTOM-ICON mail-send 16");
}

toolbar[iconsize="small"] > #button-send[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON mail-send 16 disabled");
}

toolbar[iconsize="small"] > #button-address,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-address {
  list-style-image: url("%CUSTOM-ICON x-office-address-book 16");
}

toolbar[iconsize="small"] > #button-address[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON x-office-address-book 16 disabled");
} 

toolbar[iconsize="small"] > #button-attach,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-attach {
  list-style-image: url("%CUSTOM-ICON mail-attachment 16");
}

toolbar[iconsize="small"] > #button-attach[disabled="true"] {
  list-style-image: url("%CUSTOM-ICON mail-attachment 16 disabled");
  opacity: %DISABLED-OPACITY !important;
} 

toolbar[iconsize="small"] > #spellingButton,
toolbar[iconsize="small"] > toolbarpaletteitem > #spellingButton {
  list-style-image: var(--icon-tools-check-spelling-16);
}

toolbar[iconsize="small"] > #spellingButton[disabled="true"] {
  list-style-image: var(--icon-tools-check-spelling-16-dis);
}

toolbar[iconsize="small"] > #button-save,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-save {
  list-style-image: var(--icon-document-save-16);
}

toolbar[iconsize="small"] > #button-save[disabled="true"] {
  list-style-image: var(--icon-document-save-16-dis);
} 

/* ::::: special toolbar colors ::::: */

#appcontent {
  -moz-appearance: listbox;
  background-color: -moz-Field;
  color: -moz-FieldText;
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
}

#attachmentbucket-sizer {
  border-top: none;
  border-bottom: none;
}

#msgSubject {
  margin-top: 0px;
  margin-bottom: 4px;
}

#MsgHeadersToolbar {
  min-height: 0px; /* this undoes the min-height in toolbar.css */
}

/* ::::: autocomplete icons ::::: */

treechildren::-moz-tree-cell-text(default-match) {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 15px;
  -moz-margin-end: -3px;
  border: none;
}

treechildren::-moz-tree-image(local-abook) {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 4px;
  -moz-margin-end: -1px;
  list-style-image: url("%CUSTOM-ICON x-office-address-book 16");
}

treechildren::-moz-tree-image(remote-abook) {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 2px;
  -moz-margin-end: -3px;
  list-style-image: url("chrome://global/skin/icons/16x16/gtk-network.png");
}

treechildren::-moz-tree-image(remote-err) {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 2px;
  -moz-margin-end: -3px;
  list-style-image: var(--icon-dialog-error-16);
}

treechildren::-moz-tree-image(subscribed-news) {
  -moz-margin-start: 2px;
  -moz-margin-end: -3px;
  list-style-image: url("chrome://global/skin/icons/16x16/irc.png");
}

/* ::::: compact menulists ::::: */

.menulist-compact {
  -moz-appearance: button;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  margin-bottom: -1px;
  color: ButtonText;
}

.menulist-compact > .menulist-label-box > .menulist-label {
  margin: 0 3px !important;
  text-align: end;
}

.menulist-compact > .menulist-label-box > .menulist-icon {
  -moz-margin-start: 2px;
  -moz-appearance: toolbarbutton-dropdown;
}

/* ::::: lightweight themes ::::: */

#MsgHeadersToolbar:-moz-lwtheme,
#FormatToolbar:-moz-lwtheme {
  text-shadow: none;
  color: -moz-dialogtext;
  -moz-appearance: toolbar;
}

#compose-toolbar-sizer:-moz-lwtheme {
  -moz-appearance: splitter !important;
}

#MsgHeadersToolbar textbox:-moz-lwtheme,
#MsgHeadersToolbar menulist:-moz-lwtheme,
.formatting-button > menulist:-moz-lwtheme {
  opacity: 1;
}

