/* -*- Mode: C; c-basic-offset: 2 -*- */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


@import url("chrome://icons/skin/icon-theme-default.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**
 * Link toolbar items
 **/

#link-top
{
  list-style-image: var(--icon-go-top-16);
}

#link-top[disabled="true"]
{
  list-style-image: var(--icon-go-top-16-dis);
  opacity: var(--icon-go-top-dis-opacity);
}


#link-up
{
  list-style-image: var(--icon-go-up-16);
}

#link-up[disabled="true"]
{
  list-style-image: var(--icon-go-up-16-dis);
  opacity: var(--icon-go-up-dis-opacity);
}


#link-first
{
  list-style-image: var(--icon-go-first-16);
}

#link-first[disabled="true"]
{
  list-style-image: var(--icon-go-first-16-dis);
  opacity: var(--icon-go-first-dis-opacity);
}


#link-first:-moz-locale-dir(rtl)
{
  list-style-image: var(--icon-go-first-rtl-16);
}

#link-first[disabled="true"]:-moz-locale-dir(rtl)
{
  list-style-image: var(--icon-go-first-rtl-16-dis);
  opacity: var(--icon-go-first-rtl-dis-opacity);
}

#link-prev
{
  list-style-image: var(--icon-go-previous-16);
}

#link-prev[disabled="true"]
{
  list-style-image: var(--icon-go-previous-16-dis);
  opacity: var(--icon-go-previous-dis-opacity);
}


#link-prev:-moz-locale-dir(rtl)
{
  list-style-image: var(--icon-go-previous-rtl-16);
}

#link-prev[disabled="true"]:-moz-locale-dir(rtl)
{
  list-style-image: var(--icon-go-previous-rtl-16-dis);
  opacity: var(--icon-go-previous-rtl-dis-opacity);
}


#link-next
{
  list-style-image: var(--icon-go-next-16);
}

#link-next[disabled="true"]
{
  list-style-image: var(--icon-go-next-16-dis);
  opacity: var(--icon-go-next-dis-opacity);
}


#link-next:-moz-locale-dir(rtl)
{
  list-style-image: var(--icon-go-next-rtl-16);
}

#link-next[disabled="true"]:-moz-locale-dir(rtl)
{
  list-style-image: var(--icon-go-next-rtl-16-dis);
  opacity: var(--icon-go-next-rtl-dis-opacity);
}


#link-last
{
  list-style-image: var(--icon-go-last-16);
}

#link-last[disabled="true"]
{
  list-style-image: var(--icon-go-last-16-dis);
  opacity: var(--icon-go-last-dis-opacity);
}


#link-last:-moz-locale-dir(rtl)
{
  list-style-image: var(--icon-go-last-rtl-16);
}

#link-last[disabled="true"]:-moz-locale-dir(rtl)
{
  list-style-image: var(--icon-go-last-rtl-16-dis);
  opacity: var(--icon-go-last-rtl-dis-opacity);
}


#link-feed {
  list-style-image: var(--icon-application-rss-xml-16);
}

#link-feed[disabled="true"] {
  list-style-image: var(--icon-application-rss-xml-16-dis);
  opacity: var(--icon-application-rss-xml-dis-opacity);
}

