/* -*- Mode: C; c-basic-offset: 2 -*- */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**
 * Link toolbar items
 **/

#link-top
{
  list-style-image: url("%STOCK-ICON gtk-goto-top go-top 16");
}

#link-top[disabled="true"]
{
  list-style-image: url("%STOCK-ICON gtk-goto-top go-top 16 disabled") !important;
}


#link-up
{
  list-style-image: url("%STOCK-ICON gtk-go-up go-up 16");
}

#link-up[disabled="true"]
{
  list-style-image: url("%STOCK-ICON gtk-go-up go-up 16 disabled");
}


#link-first
{
  list-style-image: url("%STOCK-ICON gtk-goto-first-ltr go-first 16");
}

#link-first[disabled="true"]
{
  list-style-image: url("%STOCK-ICON gtk-goto-first-ltr go-first 16 disabled");
}


#link-first:-moz-locale-dir(rtl)
{
  list-style-image: url("%STOCK-ICON gtk-goto-first-rtl go-last 16");
}

#link-first[disabled="true"]:-moz-locale-dir(rtl)
{
  list-style-image: url("%STOCK-ICON gtk-goto-first-rtl go-last 16 disabled");
}

#link-prev
{
  list-style-image: url("%STOCK-ICON gtk-go-back-ltr go-previous 16");
}

#link-prev[disabled="true"]
{
  list-style-image: url("%STOCK-ICON gtk-go-back-ltr go-previous 16 disabled") !important;
}


#link-prev:-moz-locale-dir(rtl)
{
  list-style-image: url("%STOCK-ICON gtk-go-back-rtl go-next 16");
}

#link-prev[disabled="true"]:-moz-locale-dir(rtl)
{
  list-style-image: url("%STOCK-ICON gtk-go-back-rtl go-next 16 disabled") !important;
}


#link-next
{
  list-style-image: url("%STOCK-ICON gtk-go-forward-ltr go-next 16");
}

#link-next[disabled="true"]
{
  list-style-image: url("%STOCK-ICON gtk-go-forward-ltr go-next 16 disabled") !important;
}


#link-next:-moz-locale-dir(rtl)
{
  list-style-image: url("%STOCK-ICON gtk-go-forward-rtl go-previous 16");
}

#link-next[disabled="true"]:-moz-locale-dir(rtl)
{
  list-style-image: url("%STOCK-ICON gtk-go-forward-rtl go-previous 16 disabled") !important;
}


#link-last
{
  list-style-image: url("%STOCK-ICON gtk-goto-last-ltr go-last 16");
}

#link-last[disabled="true"]
{
  list-style-image: url("%STOCK-ICON gtk-goto-last-ltr go-last 16 disabled") !important;
}


#link-last:-moz-locale-dir(rtl)
{
  list-style-image: url("%STOCK-ICON gtk-goto-last-rtl go-first 16");
}

#link-last[disabled="true"]:-moz-locale-dir(rtl)
{
  list-style-image: url("%STOCK-ICON gtk-goto-last-rtl go-first 16 disabled") !important;
}


#link-feed {
  list-style-image: url("chrome://navigator/skin/btn1/feeds.png") !important;
  -moz-image-region: rect(0px 32px 16px 16px);
}

#link-feed:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}

#link-feed[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px);
}

#link-feed[open="true"] {
  -moz-image-region: rect(48px 32px 64px 16px);
}
