/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

#menu_newCard {
  list-style-image: var(--icon-contact-new-16);
}

#menu_newCard[disabled="true"] {
  list-style-image: var(--icon-contact-new-16-dis);
}

#menu_newMessage {
  list-style-image: var(--icon-mail-message-new-16);
}

#menu_newMessage[disabled="true"] {
  list-style-image: var(--icon-mail-message-new-16-dis);
}

#menu_sendPage,
#menu_sendLink,
#context-sendpage,
#context-sendimage,
#context-sendvideo,
#context-sendaudio,
#context-sendlink,
#context-sendframe {
  list-style-image: var(--icon-stock_mail-16);
}

#menu_sendPage[disabled="true"],
#menu_sendLink[disabled="true"],
#context-sendpage[disabled="true"],
#context-sendimage[disabled="true"],
#context-sendvideo[disabled="true"],
#context-sendaudio[disabled="true"],
#context-sendlink[disabled="true"],
#context-sendframe[disabled="true"] {
  list-style-image: var(--icon-stock_mail-16-dis);
}

