/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://navigator/content/navigator.css");
@import url("chrome://communicator/skin/");
@import url("chrome://communicator/skin/bookmarks/bookmarksToolbar.css");
@import url("chrome://icons/skin/icon-theme-default.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
 

/* ::::: primary toolbar buttons ::::: */

#back-button {
  list-style-image: var(--icon-go-previous-24);
}

#back-button[disabled="true"] {
  list-style-image: var(--icon-go-previous-24-dis);
  opacity: var(--icon-go-previous-dis-opacity);
}

#back-button:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-24);
}

#back-button[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-24-dis);
  opacity: var(--icon-go-previous-rtl-dis-opacity);
}

#forward-button {
  list-style-image: var(--icon-go-next-24);
}

#forward-button[disabled="true"] {
  list-style-image: var(--icon-go-next-24-dis);
  opacity: var(--icon-go-next-dis-opacity);
}

#forward-button:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-24);
}

#forward-button:-moz-locale-dir(rtl)[disabled="true"] {
  list-style-image: var(--icon-go-next-rtl-24-dis);
  opacity: var(--icon-go-next-rtl-dis-opacity);
}

#reload-button {
  list-style-image: var(--icon-view-refresh-24);
}

#reload-button[disabled="true"] {
  list-style-image: var(--icon-view-refresh-24-dis);
  opacity: var(--icon-view-refresh-dis-opacity);
}

#stop-button {
  list-style-image: var(--icon-process-stop-24);
}

#stop-button[disabled="true"] {
  list-style-image: var(--icon-process-stop-24-dis);
  opacity: var(--icon-process-stop-dis-opacity);
}

#home-button {
  list-style-image: var(--icon-go-home-24);
}

#home-button[disabled="true"] {
  list-style-image: var(--icon-go-home-24-dis);
  opacity: var(--icon-go-home-dis-opacity);
}

#sync-button {
  list-style-image: url("chrome://communicator/skin/sync/sync-24.png");
}

#sync-button[status=active] {
  list-style-image: url("chrome://communicator/skin/sync/sync-24-throbber.png");
}

/* Sync icon is 22x22, we should compensate this */
toolbar:not([iconsize="small"]) #sync-button .toolbarbutton-icon {
  margin: 1px;
}

#fullscreen-exit-button {
  list-style-image: none;
}

/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] > toolbarpaletteitem > #back-button,
toolbar[iconsize="small"] > #back-button {
  list-style-image: var(--icon-go-previous-16);
}

toolbar[iconsize="small"] > #back-button[disabled="true"] {
  list-style-image: var(--icon-go-previous-16-dis);
}

toolbar[iconsize="small"] > #back-button:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-16);
}

toolbar[iconsize="small"] > #back-button[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-previous-rtl-16-dis);
}

toolbar[iconsize="small"] > toolbarpaletteitem > #forward-button,
toolbar[iconsize="small"] > #forward-button {
  list-style-image: var(--icon-go-next-16);
}

toolbar[iconsize="small"] > #forward-button[disabled="true"] {
  list-style-image: var(--icon-go-next-16-dis);
}

toolbar[iconsize="small"] > #forward-button:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-16);
}

toolbar[iconsize="small"] > #forward-button[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-go-next-rtl-16-dis);
}

toolbar[iconsize="small"] > toolbarpaletteitem > #reload-button,
toolbar[iconsize="small"] > #reload-button {
  list-style-image: var(--icon-view-refresh-16);
}

toolbar[iconsize="small"] > #reload-button[disabled="true"] {
  list-style-image: var(--icon-view-refresh-16-dis);
}

toolbar[iconsize="small"] > toolbarpaletteitem > #stop-button,
toolbar[iconsize="small"] > #stop-button {
  list-style-image: var(--icon-process-stop-16);
}

toolbar[iconsize="small"] > #stop-button[disabled="true"] {
  list-style-image: var(--icon-process-stop-16-dis);
}

toolbar[iconsize="small"] > toolbarpaletteitem > #home-button,
toolbar[iconsize="small"] > #home-button {
  list-style-image: var(--icon-go-home-16);
}

toolbar[iconsize="small"] > #home-button[disabled="true"] {
  list-style-image: var(--icon-go-home-16-dis);
}

toolbar[iconsize="small"] > toolbarpaletteitem > #sync-button,
toolbar[iconsize="small"] > #sync-button {
  list-style-image: url("chrome://communicator/skin/sync/sync-16.png");
}

toolbar[iconsize="small"] > toolbarpaletteitem > #sync-button[status=active],
toolbar[iconsize="small"] > #sync-button[status=active] {
  list-style-image: url("chrome://communicator/skin/sync/sync-16-throbber.png");
}

#FindToolbar {
  -moz-appearance: toolbar;
  padding-top: 0px;
  padding-bottom: 0px;
}

#FindToolbar:-moz-lwtheme {
  -moz-appearance: none;
}

/* ::::: fullscreen window controls ::::: */

#window-controls {
  -moz-box-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
  border-left: 2px solid;
  -moz-border-left-colors: ThreeDShadow ThreeDHighlight;
  background-color: -moz-Dialog;
}

toolbar[mode="text"] > #window-controls > toolbarbutton > .toolbarbutton-icon {
  display: -moz-box;
}

#minimize-button {
  list-style-image: var(--icon-go-down-16);
} 

#restore-button {
  list-style-image: var(--icon-view-restore-16);
} 

#close-button {
  list-style-image: var(--icon-window-close-16);
} 
  
/* ::::: nav-bar-inner ::::: */
  
.nav-bar-class {
  -moz-box-align: center;
  min-width: 0px;
}

#wrapper-nav-bar-inner[place="palette"] > #nav-bar-inner
  > .button-toolbar,
#wrapper-nav-bar-inner[place="palette"] > #nav-bar-inner
  > #urlbar > .urlbar-icons {
  display: none;
}

/* ::::: notification popups ::::: */

.popup-notification-icon {
  width: 64px;
  height: 64px;
  -moz-margin-end: 10px;
}

.popup-notification-icon[popupid="geolocation"] {
  list-style-image: url("chrome://communicator/skin/icons/geolocation-64.png");
}

.popup-notification-icon[popupid="web-notifications"] {
  list-style-image: url("chrome://communicator/skin/icons/notification-64.png");
}

.popup-notification-icon[popupid="addon-install-disabled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-started"],
.popup-notification-icon[popupid="addon-install-cancelled"],
.popup-notification-icon[popupid="addon-install-failed"],
.popup-notification-icon[popupid="addon-install-complete"],
.popup-notification-icon[popupid="lwtheme-install-request"],
.popup-notification-icon[popupid="lwtheme-install-notification"] {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
  width: 32px;
  height: 32px;
}

.popup-notification-icon[popupid="indexedDB-permissions-prompt"],
.popup-notification-icon[popupid="indexedDB-quota-prompt"] {
  list-style-image: var(--icon-dialog-question-48);
}

.popup-notification-icon[popupid="password"] {
  list-style-image: url("chrome://mozapps/skin/passwordmgr/key-64.png");
}

.popup-notification-icon[popupid="click-to-play-plugins"] {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
  margin: 0px;
  width: 32px;
  height: 32px;
}

.addon-progress-description {
  width: 350px;
  max-width: 350px;
} 

/* Notification icon box */
#notification-popup-box {
  margin: 0 3px;
}

.notification-anchor-icon:-moz-focusring {
  outline: 1px dotted -moz-DialogText;
}

#default-notification-icon {
  list-style-image: var(--icon-dialog-information-16);
  width: 16px;
  height: 16px;
}

#geo-notification-icon {
  list-style-image: url("chrome://communicator/skin/icons/geolocation-16.png");
  width: 16px;
  height: 16px;
}

#addons-notification-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric-16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
  width: 16px;
  height: 16px;
}
  
#indexedDB-notification-icon {
  list-style-image: var(--icon-dialog-question-16);
  width: 16px;
  height: 16px;
}
  
#password-notification-icon {
  list-style-image: url("chrome://mozapps/skin/passwordmgr/key-16.png");
  width: 16px;
  height: 16px;
}
  
#plugins-notification-icon {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
  width: 16px;
  height: 16px;
}

.click-to-play-plugins-notification-content {
  margin: -10px;
  border-radius: 4px;
}

.click-to-play-plugins-notification-icon-box {
  background-color: rgba(255, 255, 255, .4);
  -moz-border-end: 1px solid rgba(255, 255, 255, .2);
  padding: 24px;
}

.click-to-play-plugins-notification-icon-box:-moz-locale-dir(ltr) {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.click-to-play-plugins-notification-icon-box:-moz-locale-dir(rtl) {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.click-to-play-plugins-notification-separator {
  -moz-border-start: 1px solid rgba(3, 14, 27, .1);
  border-top: 1px solid rgba(3, 14, 27, .1);
}

.click-to-play-plugins-notification-description-box {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  -moz-border-start: 1px solid rgba(255, 255, 255, .2);
  padding-top: 12px;
  -moz-padding-end: 11px;
   padding-bottom: 9px;
  -moz-padding-start: 10px;
}

.click-to-play-plugins-notification-center-box {
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  -moz-border-start: 1px solid rgba(255, 255, 255, .2);
  background-color: rgba(3, 14, 27, .05);
}

.click-to-play-plugins-notification-button-container {
  border-top: 1px solid rgba(255, 255, 255, .2);
  -moz-border-start: 1px solid rgba(255, 255, 255, .2);
  margin: 0px;
  padding: 16px;
}

.center-item-box {
  padding: 12px 16px 0px 16px;
}

.center-item-box[padbottom="true"] {
  padding-bottom: 12px;
}

.center-item-icon {
  background-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin-bottom: 4px;
}

.center-item-box[warn="true"] {
  background-image: url("chrome://navigator/skin/click-to-play-warning-stripes.png");
  background-repeat: repeat-x;
  padding: 8px 16px 6px 16px;
}

.center-item-box[padbottom="true"][warn="true"] {
  padding-bottom: 4px;
}

.center-item-box[showseparator="true"] {
  border-top: 1px solid rgba(3, 14, 27, .1);
}

.center-item-box[warn="false"] > .center-item-warning {
  display: none;
}

.center-item-warning > .text-link[href=""] {
  display: none;
}

.center-item-warning-icon {
  background-image: url("chrome://mozapps/skin/extensions/alerticon-info-negative.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  margin-bottom: 4px;
}

.center-item-warning-description {
  color: #828282;
}

.center-item-button {
  min-width: 0px;
}

/* ::::: page proxy icon ::::: */

#page-proxy-deck,
#page-proxy-favicon,
#page-proxy-button {
  width: 16px;
  height: 16px;
}

#page-proxy-deck {
  margin: 2px 3px;
}

#page-proxy-button {
  list-style-image: var(--icon-text-x-generic-16);
}

#page-proxy-favicon {
  list-style-image: none;
}

#page-proxy-button[pageproxystate="invalid"] {
  cursor: default;
  list-style-image: var(--icon-text-x-generic-16-dis);
  opacity: var(--icon-text-x-generic-dis-opacity);
}

/* ::::: autocomplete ::::: */

.autocomplete-history-dropmarker {
  border-right-width: 1px;
  border-bottom-width: 1px;
  -moz-border-right-colors: ThreeDShadow;
  -moz-border-bottom-colors: ThreeDShadow;
}

.autocomplete-treebody::-moz-tree-cell-text(value) {
  -moz-padding-start: 15px;
}

.autocomplete-search-box {
  border-top: 2px groove -moz-Dialog;
  background-color: -moz-Dialog;
  color: ButtonText;
}

panel[nomatch="true"] > .autocomplete-search-box {
  border-top: 1px solid ThreeDHighlight;
}

.autocomplete-search-engine {
  padding: 2px;
}

.autocomplete-search-engine[menuactive="true"] {
  background-color: Highlight;
  color: HighlightText;
}

.autocomplete-search-engine-img {
  -moz-margin-end: 4px;
  width: 16px;
  height: 16px;
}

.autocomplete-treebody::-moz-tree-cell-text(treecolAutoCompleteComment) {
  color: GrayText;
}

/* ::::: go and searchbuttons ::::: */

#search-button, 
#go-button {
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 4px;
  min-height: 25px;
  font: message-box;
  font-weight: bold;
}


#search-button {
  list-style-image: var(--icon-edit-find-22);
}

toolbar[iconsize="small"] #search-button,
toolbar[mode="text"] #search-button {
  list-style-image: var(--icon-edit-find-16);
}

#search-button > .button-box > .button-icon,
#go-button > .button-box > .button-icon {
  display: -moz-box;
}

toolbar[mode="text"] #search-button > .button-box > .button-icon,
toolbar[mode="text"] #go-button > .button-box > .button-icon {
  display: none;
}

#go-button > .button-box,
#search-button > .button-box {
  height: 22px;
}


toolbar[iconsize="small"] #go-button > .button-box,
toolbar[iconsize="small"] #search-button > .button-box,
toolbar[mode="text"] #go-button > .button-box,
toolbar[mode="text"] #search-button > .button-box {
  height: 16px;
}

/* ::::: search bar ::::: */

.autocomplete-treebody::-moz-tree-cell-text(suggesthint, treecolAutoCompleteComment),
.autocomplete-treebody::-moz-tree-cell-text(suggestfirst, treecolAutoCompleteComment) {
  color: GrayText;
  font-size: smaller;
}

.autocomplete-treebody::-moz-tree-cell(suggesthint) {
  border-top: 1px solid GrayText;
}

/* ::::: sidebar splitter ::::: */

#sidebar-splitter {
  padding-right: 3px !important;
}

/* ::::: content area ::::: */

#status-bar {
  border-top: none;
  min-width: 1px;
}

#security-button {
  list-style-image: var(--icon-lock-insecure-16);
}

#security-button[label] > .statusbarpanel-contentbox {
  background-color: rgba(98, 196, 65, .8);
}

#security-button[level="high"],
#security-button[level="low"] {
  list-style-image: var(--icon-lock-secure-16);
}

#security-button[level="high"][label] {
  list-style-image: var(--icon-lock-secure-checked-16);
}

#security-button[level="broken"] {
  list-style-image: var(--icon-lock-broken-16);
}

#security-button:not([label]) .statusbarpanel-text,
#security-button[label=""] .statusbarpanel-text {
  -moz-margin-start: 0;
  -moz-margin-end: 0;
}

#ev-button {
  list-style-image: url("chrome://communicator/skin/icons/identity.png");
}

#popupIcon {"] {
  list-style-image: var(--icon-dialog-warning-16);
}

#invalid-form-popup {
  -moz-appearance: tooltip;
  border: 1px solid InfoText;
  padding: 2px 3px 0px 3px;
  max-width: 40em;
  background-color: InfoBackground;
  color: InfoText;
  font: message-box;
  font-weight: bold;
}

/* ::::: personal toolbar ::::: */

#bookmarks-button {
  list-style-image: var(--icon-folder-16);
}

#bookmarks-button[open="true"] {
  list-style-image: var(--icon-folder-open-16);
}

toolbarbutton.chevron {
  list-style-image: url("chrome://navigator/skin/icons/chevron.gif") !important;
}

toolbarbutton.chevron > .toolbarbutton-menu-dropmarker {
  display: none;
}

toolbarbutton.chevron > .toolbarbutton-text {
  display: none; /* hide chevron label which has a width even if blank */
}

toolbar[mode="text"] toolbarbutton.chevron > .toolbarbutton-icon {
  display: -moz-box; /* display chevron icon in text mode */
}
/*
#bookmarks-chevron {
  list-style-image: var(--icon-text-x-generic-16);
}
*/
#bookmarks-chevron > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* Prevent [mode="icons"|"text"] from hiding the label and icon */
#PlacesToolbarItems .bookmark-item > .toolbarbutton-text,
#PlacesToolbarItems .bookmark-item > .toolbarbutton-icon {
  display: -moz-box !important;
}

#PersonalToolbar > #home-button {
  cursor: pointer;
}

#PersonalToolbar > #home-button:hover {
  text-decoration: underline;
}

#PersonalToolbar > #home-button[disabled="true"] {
  cursor: default !important;
  text-decoration: none !important;
}

/*
  In customize mode we hide the normal bookmark items and show a placeholder
  for the drag/drop UI.
*/
.bookmarks-toolbar-customize {
  list-style-image: url("chrome://global/skin/icons/firefox/bookmarksToolbar.png");
  max-width: 15em !important;
}

#wrapper-personal-bookmarks[place="palette"] > .toolbarpaletteitem-box {
  width: 16px;
  height: 16px;
  background: url("chrome://global/skin/icons/firefox/bookmarksToolbar.png") no-repeat;
}

/* ::::: star button ::::: */

#star-button {
  list-style-image: url("chrome://global/skin/icons/firefox/bookmark.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#star-button[starred="true"],
#editBookmarkPanelStarIcon {
  list-style-image: url("chrome://global/skin/icons/firefox/bookmark.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

/* ::::: feeds ::::: */

.feedsMenu {
  list-style-image: var(--icon-application-rss-xml-16);
}

.feedsMenu[disabled="true"] {
  list-style-image: var(--icon-application-rss-xml-16-dis);
  opacity: var(--icon-application-rss-xml-dis-opacity);
}

#feedsButton {
  list-style-image: var(--icon-application-rss-xml-16);
}
