/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

@import "chrome://global/skin/";

/* Misc */
tree {
  margin: .5em;
}

.gridSeparator {
  width: .5em;
}

textbox {
  background: transparent !important;
  border: none;
  padding: 0px;
  -moz-appearance: none;
  -moz-user-focus: none;
}

textbox.header {
  margin-inline-start: 0;
}

.iframe {
  margin: .5em;
  background: white;
  overflow: auto;
}

.fixedsize {
  height: 8.5em;
}

textbox[disabled] {
  font-style: italic;
}

/* General Tab */
#general-security-identity {
  white-space: pre-wrap;
  line-height: 2em;
}

/* Media Tab */
#imagetree {
  min-height: 10em;
}

#thepreviewimage {
  margin: 1em;
}

treechildren::-moz-tree-cell-text(broken) {
  font-style: italic;
  color: graytext;
}

/* Feeds Tab */
#feedListbox > richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

.feedTitle { 
  font-weight: bold;
}

/* Permissions Tab */
#permList {
  margin-top: .5em;
  overflow: auto;
}

.permission {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

.permissionLabel {
  font-weight: bold;
}

/* Security Tab */
.fieldValue {
  font-weight: bold;
}

#identity-icon {
  width: 64px;
  height: 64px;
  list-style-image: url("chrome://navigator/skin/icons/identity.png");
  -moz-image-region: rect(0px, 64px, 64px, 0px);
}

#identity-icon.verifiedDomain {
  -moz-image-region: rect(64px, 64px, 128px, 0px);
}

#identity-icon.verifiedIdentity {
  -moz-image-region: rect(128px, 64px, 192px, 0px);
}

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

/* picontext menu */
#menu_selectall {
  list-style-image: var(--icon-edit-select-all-16)
}

#menu_selectall[disabled] {
  list-style-image: var(--icon-edit-select-all-16-dis);
}

#menu_copy {
  list-style-image: var(--icon-edit-copy-16);
}

#menu_copy[disabled] {
  list-style-image: var(--icon-edit-copy-16-dis);
}

/* piLinksContext menu */
#menu_openInNewTab {
  list-style-image: var(--icon-tab-new-16)
}

#menu_openInNewTab[disabled] {
  list-style-image: var(--icon-tab-new-16-dis);
}

#menu_openInNewWindow {
  list-style-image: var(--icon-window-new-16)
}

#menu_openInNewWindow[disabled] {
  list-style-image: var(--icon-window-new-16-dis);
}

#menu_selectall_links {
  list-style-image: var(--icon-edit-select-all-16)
}

#menu_selectall_links[disabled] {
  list-style-image: var(--icon-edit-select-all-16-dis);
}

#menu_copyLinks {
  list-style-image: var(--icon-edit-copy-16);
}

#menu_copyLinks[disabled] {
  list-style-image: var(--icon-edit-copy-16-dis);
}

