/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-strip {
  padding-bottom: 0px;
  border-bottom: 1px solid background;
  -moz-border-bottom-colors: ThreeDShadow ThreeDShadow;
}

tabpanels {
 -moz-appearance: listbox;
 margin: -1px !important;
}

.tabbrowser-tabs {
  padding-top: 1px;
  margin-bottom: -1px;
}

.tabs-left,
.tabs-right {
  width: 3px;
  border-bottom: none;
}

.tab-icon {
  margin-top: 0px;
  margin-right: 3px;
  width: 16px;
  height: 16px;
}

.tabbrowser-tab {
  margin-bottom: 1px;
  border-bottom: none;
  list-style-image: var(--icon-text-x-generic-16);
}

.tabbrowser-tab[busy] {
  list-style-image: url("chrome://global/skin/icons/throbber/gnome/Throbber-small.gif");
}

.tabbrowser-tab:-moz-lwtheme {
  text-shadow: none;
}

.tabbrowser-tab[selected="true"] {
  margin-bottom: -1px;
}

.scrollbutton-up:-moz-lwtheme,
.scrollbutton-down:-moz-lwtheme:not([selected="true"]),
.tabbrowser-tab:-moz-lwtheme:not([selected="true"]) {
  opacity: .8;
}

/* ::::: Tab scrollbox arrow, and all-tabs buttons ::::: */

.scrollbutton-up,
.scrollbutton-down {
  -moz-appearance: tab;
  margin: 2px 0px 1px;
  padding: 0px;
}

.scrollbutton-up > image,
.scrollbutton-down:-moz-locale-dir(rtl) > image {
  -moz-appearance: button-arrow-previous !important;
}

.scrollbutton-down > image,
.scrollbutton-up:-moz-locale-dir(rtl) > image {
  -moz-appearance: button-arrow-next !important;
}

.scrollbutton-down {
  box-shadow: 0px 0px 0px 9px transparent inset;
  transition: box-shadow 1s ease-out;
}

.scrollbutton-down:hover,
.scrollbutton-down[notifybgtab="true"],
.scrollbutton-down[disabled="true"] {
  transition: none;
}

.scrollbutton-up:not([disabled="true"]):hover:active,
.scrollbutton-down:not([disabled="true"]):hover:active,
.scrollbutton-down[notifybgtab="true"] {
  box-shadow: 0px 0px 0px 9px ThreeDShadow inset;
}

.tabs-alltabs-button {
/*  margin: 2px 0px 1px;*/
  margin: 0 !important;
}

.tabs-alltabs-button > .toolbarbutton-icon {
  margin: 0px !important;
}

/* All tabs menupopup */
.alltabs-item {
  list-style-image: var(--icon-text-x-generic-16);
}

.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://global/skin/icons/throbber/gnome/Throbber-small.gif");
}

.alltabs-item[tabIsScrolled] {
  font-style: italic;
}

/* ::::: close button ::::: */

.tabs-closebutton {
  margin: 0px;
  list-style-image: var(--icon-window-close-16);
}

.tabs-closebutton > .toolbarbutton-icon {
  margin: 0;
}

tab .tab-closebutton > .toolbarbutton-icon {
  margin: -4px !important;
}

.tabs-newbutton {
  list-style-image: var(--icon-list-add-16);
}

.tabs-newbutton > .toolbarbutton-icon {
  margin: 0;
}

.tab-drop-indicator-bar {
    height: 16px;
    margin-top: -16px;
    -moz-margin-start: -7px;
    position: relative;
}

.tab-drop-indicator {
    height: 16px;
    width: 16px;
    margin-bottom: -10px;
    position: relative;
    background: var(--icon-go-down-16) 50% 50% no-repeat;
}

tooltip[tabpreview="true"] {
  max-width: none;
}
