/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://icons/skin/icon-theme-default.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

menupopup[anonid="tabContextMenu"] > menuitem[oncommand*="removeTab"] {
  list-style-image: var(--icon-window-close-16);
}

menupopup[anonid="tabContextMenu"] > menuitem[oncommand*="removeTab"][disabled="true"] {
  list-style-image: var(--icon-window-close-16-dis);
}

menupopup[anonid="tabContextMenu"] > menuitem[oncommand*="undoCloseTab"] {
  list-style-image: var(--icon-edit-undo-16);
}

menupopup[anonid="tabContextMenu"] > menuitem[oncommand*="undoCloseTab"][disabled="true"] {
  list-style-image: var(--icon-edit-undo-16-dis);
}

menupopup[anonid="tabContextMenu"] > menuitem[oncommand*="BrowserOpenTab"] {
  list-style-image: var(--icon-tab-new-16);
}

menupopup[anonid="tabContextMenu"] > menuitem[oncommand*="BrowserOpenTab"][disabled="true"] {
  list-style-image: var(--icon-tab-new-16-dis);
}

menupopup[anonid="tabContextMenu"] > menuitem[oncommand*="bookmarkCurrentPages"] {
  list-style-image: var(--icon-bookmark-new-16);
}

menupopup[anonid="tabContextMenu"] > menuitem[oncommand*="bookmarkCurrentPages"][disabled="true"] {
  list-style-image: var(--icon-bookmark-new-16-dis);
}

menupopup[anonid="tabContextMenu"] > menuitem[oncommand*="reloadTab"] {
  list-style-image: var(--icon-view-refresh-16);
}

menupopup[anonid="tabContextMenu"] > menuitem[oncommand*="reloadTab"][disabled="true"] {
  list-style-image: var(--icon-view-refresh-16-dis);
}

